<div class="container-fluid px-0 px-sm-3 mt-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body row mx-0">
                <div class="col-12 col-md-8 font-22 pt-2">
                    <span class="text-danger text-uppercase"
                        *ngIf="sessionsLoaded">{{sessions.display_day|fullDay}}</span>
                    <span class="ml-3">PERIOD </span>
                    <span *ngIf="sessionsLoaded">{{sessions.session_id}}</span>
                    <span *ngIf="sessionsLoaded" class="ml-sm-3 text-danger">
                        {{sessions.start_time|convert24to12}} -
                        {{sessions.end_time|convert24to12}}
                    </span>
                </div>
                <div class="col-12 col-md-3 ml-auto text-right mx-0">
                    <hr class="d-block d-sm-none">
                    <a [routerLink]="'/user/student-timetable/'">
                        <button class="btn btn-danger">
                            <i class="fas fa-arrow-circle-left mr-2 font-12"></i>
                            <span class="ml-2 font-12">BACK</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid px-0 px-sm-3 mt-4">
    <div class="col-md-12">
        <div class="card py-5 px-4 table-responsive">
            <table datatable class="mt-4 table-striped" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                    <tr>
                        <th scope="col" class="border-top-0  border-bottom-0">Index</th>
                        <th scope="col" class="border-top-0  border-bottom-0">Date</th>
                        <th scope="col" class="border-top-0  border-bottom-0">Class type</th>
                        <th scope="col" class="border-top-0  border-bottom-0">Class title</th>
                        <th scope="col" class="border-top-0  border-bottom-0">Action</th>
                    </tr>
                </thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col" class="d-flex justify-content-center my-5 py-5 text-center" *ngIf="!sessionsLoaded">
                        <div>
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tbody>
                    <ng-container *ngIf="sessionsLoaded">
                        <tr *ngFor="let upload of uploads;let index=index">
                            <th class="pl-3">{{index+1}}</th>
                            <td class="pl-3">{{upload.display_date| date: 'dd/MM/yyyy'}}</td>
                            <td class="pl-4 table-maxwidth">
                                {{upload.type_of_class|classType}}
                            </td>
                            <td class="pl-4">
                                {{upload.file_name}}
                            </td>

                            <td>
                                <a [routerLink]="upload.file_id+'/details'">
                                    <button class="btn btn-info font-12">
                                        REQUEST CLASS
                                    </button>
                                </a>
                            </td>
                        </tr>
                    </ng-container>

                </tbody>
            </table>
        </div>
    </div>
</div>