<div class="container-fluid mt-5 px-0 px-sm-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body row mx-0">
                <div class="font-22 pt-2 ml-2">
                    <i class="fas fa-university text-purple mr-3"></i>
                    <span>INSTITUTIONS</span>
                </div>
                <div class="ml-auto row mx-0">
                    <a [routerLink]="'add'">
                        <button class="btn btn-warning text-light w-100">
                            <i class="fas fa-plus font-12"></i>
                            <span class="ml-2 font-14">ADD AN INSTITUTION</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-4 px-0 px-sm-3">
    <div class="col-md-12">
        <div class="card px-4 py-5 table-responsive">
            <table datatable class="mt-4 table-striped" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                    <tr>
                        <th scope="col" class="border-top-0  border-bottom-0">Index</th>
                        <th scope="col" class="border-top-0  border-bottom-0">INSTITUTION name</th>
                        <th scope="col" class="border-top-0  border-bottom-0">Batch</th>
                        <th scope="col" class="border-top-0  border-bottom-0">Status</th>
                        <th scope="col" class="border-top-0  border-bottom-0 border-right-0">Operations</th>
                    </tr>
                </thead>

                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col" class="d-flex justify-content-center my-5 py-5 text-center" *ngIf="!dataLoaded">
                        <div>
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>

                <tbody>
                    <ng-container *ngIf="dataLoaded">
                        <tr *ngFor="let class of classes;let index=index">
                            <th class="pl-4">{{index+1}}</th>
                            <td class="pl-3 table-maxwidth">{{class.class_name}}</td>
                            <td class="pl-3">
                                <span *ngIf="class.class_division"
                                    class="table-maxwidth">{{class.class_division}}</span>
                            </td>
                            <td>

                                <button class="btn btn-success font-10 cursor-context-menu col-md-6 col-lg-8"
                                    *ngIf="class.class_active">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    <span class="ml-1 font-10">ACTIVE</span>
                                </button>
                                <button class="btn btn-danger font-10 cursor-context-menu col-md-6 col-lg-8"
                                    *ngIf="!class.class_active">
                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                    <span class="ml-1 font-10">INACTIVE</span>
                                </button>
                            </td>
                            <td class="row px-0 td-responsive">
                                <a [routerLink]="class.class_id+'/view'" class="pl-4">
                                    <button class="btn btn-info text-light" title="View Institution">
                                        <i class="fas far fa-eye font-12"></i>
                                    </button>
                                </a>
                                <ng-container *ngIf="userRole == 'SA' || userRole=='A'">
                                    <a [routerLink]="class.class_id+'/edit'">
                                        <button class="btn btn-warning text-light ml-3" title="Edit Institution">
                                            <i class="fas fa-pencil-alt font-12"></i>
                                        </button>
                                    </a>
                                </ng-container>
                                <ng-container *ngIf="userRole=='SA' || userRole=='A'">
                                    <button class="btn btn-danger ml-3"
                                        (click)="openModal(template,class.class_id,class.class_name,class.class_description)"
                                        title="Delete Institution">
                                        <i class="fas fa-trash-alt font-12"></i>
                                    </button>
                                </ng-container>
                            </td>
                        </tr>
                    </ng-container>

                </tbody>
            </table>
        </div>
    </div>
</div>


<ng-template #template>
    <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center font-20 font-weight-bold">
        <p>Are you sure you want to delete?</p>
        <div class="row justify-content-center my-5">
            <div class="col-md-4">
                <button class="btn btn-success w-100 " [disabled]="submitted" (click)="deleteClass(delClassID)">
                    <div class="spinner-border spinner-border-sm mb-1" role="status" *ngIf="submitted">
                        <span class="sr-only">Loading...</span>
                    </div>
                    Yes
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-danger w-100 " (click)="modalRef.hide()">
                    No
                </button>
            </div>
        </div>
    </div>
</ng-template>