<div class="container-fluid mt-5 px-0 px-sm-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body row mx-0">
                <div class="col-12 col-md-8 font-22 pt-2 ml-2">
                    <span class="text-uppercase">{{title}}</span>
                </div>
                <div class="col-12 col-md-3 text-right ml-auto mx-0">
                    <hr class="d-block d-sm-none">
                    <a [routerLink]="'/admin/staff-qa/'+classId+'/discussions'">
                        <button class="btn btn-danger">
                            <i class="fas fa-arrow-circle-left mr-2 font-12"></i>
                            <span class="ml-2 font-12">BACK</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-4 px-0 px-sm-3">
    <ng-container *ngIf="currentRoute==='studentQA'">
        <div class="d-flex justify-content-center my-5 py-5" *ngIf="!studentQALoaded">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <ng-container *ngIf="studentQALoaded">
            <div class="row mx-0">
                <div class="col-md-7 col-lg-7 col-xl-7 col-12">
                    <div class="card">
                        <div class="card-header">
                            STUDENTS DOUBT
                        </div>
                        <div class="col-md-12 my-4">
                            <div class="row">
                                <div class="col-md-8 col-12 ">
                                    <div class="col-md-12 text-muted font-12">
                                        DOUBT TITLE
                                    </div>
                                    <div class="col-md-12 mt-1">
                                        {{studentQA['qa_student_title']}}
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="col-md-12 text-sm-center mt-2 mt-sm-0 pl-0">
                                        <div class="col-md-12 text-muted font-12">
                                            STAFF NAME
                                        </div>
                                        <div class="col-md-12 mt-1">
                                            {{studentQA['qa_student_reply_to'][0]['staff_first_name']}}
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <button class="btn btn-success font-10 cursor-context-menu w-100"
                                            *ngIf="studentQA['qa_status']==='R'">
                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                            <span class="ml-1 font-10">REPLIED</span>
                                        </button>
                                        <button class="btn btn-danger font-10 cursor-context-menu w-100"
                                            *ngIf="studentQA['qa_status']==='NR'">
                                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                                            <span class="ml-1 font-10">NOT REPLIED</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row mx-0 mt-4">
                                <div class="col-md-12 text-muted font-12">
                                    DOUBT DESCRIPTION
                                </div>
                                <div class="col-md-12 col-12 mt-2"
                                    [innerHTML]="studentQA['qa_student_description']|safeHTML">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-5 col-xl-5 col-12">
                    <div class="card">
                        <div class="card-header">
                            STUDENTS UPLOADED FILE
                        </div>
                        <div class="card-body text-center my-5" *ngIf="studentQA['qa_s_file'].length !==0">
                            <a class="btn btn-danger text-light font-14 col-md-4" target="blank"
                                href="{{fileURL}}{{studentQA['qa_s_file'][0]['files']}}">
                                VIEW FILE
                            </a>
                        </div>
                        <div class="card-body" *ngIf="studentQA['qa_s_file'].length ===0">
                            <div class="my-5 text-center text-muted">
                                NO FILES UPLOADED
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-0 mt-5" *ngIf="studentQA['qa_status']==='R'">
                <div class="col-md-7 col-lg-7 col-xl-7 col-12">
                    <div class="card">
                        <div class="card-header">
                            REPLY TO STUDENT
                        </div>
                        <div class="card-body" [innerHTML]="studentQA['qa_student_reply_to'][0]['qa_reply']|safeHTML">

                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-5 col-xl-5 col-12">
                    <div class="card">
                        <div class="card-header">
                            FILE(s)
                        </div>
                        <div class="card-body"
                            *ngIf="studentQA['qa_student_reply_to'][0]['qa_student_staff_file'].length !==0">
                            <div class="card-body text-center my-5" *ngIf="studentQA['qa_s_file'].length !==0">
                                <a class="btn btn-danger text-light font-14 col-md-4" target="blank"
                                    href="{{fileURL}}{{studentQA['qa_student_reply_to'][0]['qa_student_staff_file'][0]['files']}}">
                                    VIEW FILE
                                </a>
                            </div>
                        </div>
                        <div class="card-body"
                            *ngIf="studentQA['qa_student_reply_to'][0]['qa_student_staff_file'].length ===0">
                            <div class="my-5 text-center text-muted">
                                NO FILES UPLOADED
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-0 mt-5" *ngIf="studentQA['qa_status']==='NR'">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            REPLY TO STUDENT
                        </div>
                        <form class="m-4" [formGroup]="studentReplyForm" (ngSubmit)="addStudentReply()" method="PATCH">
                            <div class="row my-5">
                                <div class="col-md-12 px-3 px-sm-5">
                                    <div class="form-group">
                                        <label for="qaReply" class="text-muted">Reply <span
                                                class="text-danger font-weight-bold">*</span></label>

                                        <quill-editor [style]="{height: '500px'}" formControlName="qaReply">

                                        </quill-editor>
                                        <small id="qaReply" class="form-text text-danger pl-2"
                                            *ngIf="studentReplyForm.get('qaReply').errors?.required && studentReplyForm.get('qaReply').touched">
                                            This field is required.
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-12 px-3 px-sm-5">
                                    <div class="form-group">
                                        <label for="qaDescription" class="text-muted">Upload File</label>
                                        <div class="col-md-12 col-12 mt-3">
                                            <input type="file" class="upload"
                                                (change)="onFileSelected($event,'studentReply')" />
                                        </div>
                                    </div>
                                </div>
                                <div class="w-100 mt-4 mb-2 px-3 px-sm-5">
                                    <button type="submit" class="btn btn-warning text-light w-100"
                                        [disabled]="!studentReplyForm.valid || submitted">
                                        <div class="spinner-border spinner-border-sm mb-1" role="status"
                                            *ngIf="submitted">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <i class="fas fa-check ml-3"></i>
                                        <span class="ml-2">SUBMIT</span>
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="currentRoute==='parentQA'">
        <div class="d-flex justify-content-center my-5 py-5" *ngIf="!parentQALoaded">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <ng-container *ngIf="parentQALoaded">
            <div class="row mx-0">
                <div class="col-md-7 col-lg-7 col-xl-7 col-12">
                    <div class="card">
                        <div class="card-header">
                            PARENTS DOUBT
                        </div>
                        <div class="col-md-12 my-4">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="col-md-12 text-muted font-12">
                                        DOUBT TITLE
                                    </div>
                                    <div class="col-md-12 mt-1">
                                        {{parentQA['qa_parent_title']}}
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="col-md-12 text-sm-center mt-2 mt-sm-0 pl-0">
                                        <div class="col-md-12 text-muted font-12">
                                            STAFF NAME
                                        </div>
                                        <div class="col-md-12 mt-1">
                                            {{parentQA['qa_parent_reply_to'][0]['staff_first_name']}}
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <button class="btn btn-success font-10 cursor-context-menu w-100"
                                            *ngIf="parentQA['qa_status']==='R'">
                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                            <span class="ml-1 font-10">REPLIED</span>
                                        </button>
                                        <button class="btn btn-danger font-10 cursor-context-menu w-100"
                                            *ngIf="parentQA['qa_status']==='NR'">
                                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                                            <span class="ml-1 font-10">NOT REPLIED</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row mx-0 mt-4">
                                <div class="col-md-12 text-muted font-12">
                                    DOUBT DESCRIPTION
                                </div>
                                <div class="col-md-12 col-12 mt-2"
                                    [innerHTML]="parentQA['qa_parent_description']|safeHTML">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-5 col-xl-5 col-12">
                    <div class="card">
                        <div class="card-header">
                            PARENTS UPLOADED FILE
                        </div>
                        <div class="card-body text-center my-5" *ngIf="parentQA['qa_p_file'].length !==0">
                            <a class="btn btn-danger text-light font-14 col-md-4" target="blank"
                                href="{{fileURL}}{{parentQA['qa_p_file'][0]['files']}}">
                                VIEW FILE
                            </a>
                        </div>
                        <div class="card-body" *ngIf="parentQA['qa_p_file'].length ===0">
                            <div class="my-5 text-center text-muted">
                                NO FILES UPLOADED
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-0 mt-5" *ngIf="parentQA['qa_status']==='R'">
                <div class="col-md-7 col-lg-7 col-xl-7 col-12">
                    <div class="card">
                        <div class="card-header">
                            REPLY TO PARENT
                        </div>
                        <div class="card-body" [innerHTML]="parentQA['qa_parent_reply_to'][0]['qa_reply']|safeHTML">

                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-5 col-xl-5 col-12">
                    <div class="card">
                        <div class="card-header">
                            FILE(s)
                        </div>
                        <div class="card-body"
                            *ngIf="parentQA['qa_parent_reply_to'][0]['qa_parent_staff_file'].length !==0">
                            <div class="text-center my-5">
                                <a class="btn btn-danger text-light font-14 col-md-4" target="blank"
                                    href="{{fileURL}}{{parentQA['qa_parent_reply_to'][0]['qa_parent_staff_file'][0]['files']}}">
                                    VIEW FILE
                                </a>
                            </div>
                        </div>
                        <div class="card-body"
                            *ngIf="parentQA['qa_parent_reply_to'][0]['qa_parent_staff_file'].length ===0">
                            <div class="my-5 text-center text-muted">
                                NO FILES UPLOADED
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mx-0 mt-5" *ngIf="parentQA['qa_status']==='NR'">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            REPLY TO PARENT
                        </div>
                        <div class="card-body">
                            <form class="m-4" [formGroup]="parentReplyForm" (ngSubmit)="addParentReply()"
                                method="PATCH">
                                <div class="row my-5">

                                    <div class="col-md-12 px-3 px-sm-5">
                                        <div class="form-group">
                                            <label for="qaReply" class="text-muted">Reply <span
                                                    class="text-danger font-weight-bold">*</span></label>
                                            <quill-editor [style]="{height: '500px'}" formControlName="qaReply">

                                            </quill-editor>
                                            <small id="qaReply" class="form-text text-danger pl-2"
                                                *ngIf="parentReplyForm.get('qaReply').errors?.required && parentReplyForm.get('qaReply').touched">
                                                This field is required.
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-md-12 px-3 px-sm-5">
                                        <div class="form-group">
                                            <label for="qaDescription" class="text-muted">Upload File</label>
                                            <div class="col-md-12 col-12 mt-3">
                                                <input type="file" class="upload"
                                                    (change)="onFileSelected($event,'parentReply')" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-100 mt-4 mb-2 px-3 px-sm-5">
                                        <button type="submit" class="btn btn-warning text-light w-100"
                                            [disabled]="!parentReplyForm.valid || submitted">
                                            <div class="spinner-border spinner-border-sm mb-1" role="status"
                                                *ngIf="submitted">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                            <i class="fas fa-check ml-3"></i>
                                            <span class="ml-2">SUBMIT</span>
                                        </button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>