<div class="col-md-11 col-sm-11 col-lg-9 col-12 mx-auto mt-sm-3">
    <div class="col-12 px-0 col-md-7 col-lg-6 col-xl-5 mx-auto mb-1 pt-5 text-center" style="object-fit: contain;">
        <img src="assets/images/iepc_2.jpg" class="text-center img-fluid">
    </div>
    <div class="card mt-5 col-md-7 col-lg-6 col-xl-5 col-12  mx-auto mt-n1">
        <div class="row mt-3 mt-sm-0">
            <div class="col-12 pt-4 text-center" *ngIf="currentRoute==='user'">

                <p class="text-center font-20 text-danger">
                    STUDENT LOGIN
                </p>
                <hr>
            </div>
            <div class="col-md-12 col-12 mb-5">
                <form class="px-2 px-sm-5 mt-sm-5" [formGroup]="loginForm" (ngSubmit)="login(currentRoute)"
                    method="POST">
                    <div class="form-group">
                        <label for="userName" class="text-muted">Username</label>
                        <input type="text" class="form-control " id="userName" placeholder="Enter Username"
                            formControlName="username"
                            [ngClass]="{ 'is-invalid': loginForm.get('username').errors?.required && loginForm.get('username').touched || loginForm.controls['username'].hasError('maxlength') }">
                        <small id="userName" class="form-text text-danger pl-2"
                            *ngIf="loginForm.get('username').errors?.required && loginForm.get('username').touched">
                            This field is required.
                        </small>
                        <small id="userName" class="form-text text-danger pl-2"
                            *ngIf="loginForm.controls['username'].hasError('maxlength')">
                            Maximum length exceeded.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="password" class="text-muted">Password</label>
                        <input type="password" class="form-control " id="password" placeholder="Password"
                            formControlName="password" autocomplete="new-password"
                            [ngClass]="{ 'is-invalid': loginForm.get('password').errors?.required && loginForm.get('password').touched || loginForm.controls['password'].hasError('maxlength') }">

                        <small id="password" class="form-text text-danger pl-2"
                            *ngIf="loginForm.get('password').errors?.required && loginForm.get('password').touched">
                            This field is required.
                        </small>
                        <small id="password" class="form-text text-danger pl-2"
                            *ngIf="loginForm.controls['password'].hasError('maxlength')">
                            Maximum length exceeded.
                        </small>
                    </div>
                    <div class="mt-5 mb-4">
                        <button type="submit" class="btn  w-100  font-16  bs"
                            [ngClass]="{'btn-danger': currentRoute=='admin', 'btn-primary': currentRoute=='user'}"
                            [disabled]="!loginForm.valid || submitted">
                            <div class="spinner-border spinner-border-sm mb-1" role="status" *ngIf="submitted">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <i class="fas fa-sign-in-alt ml-3"></i>
                            <span class="ml-2">LOGIN</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="text-center font-12 mt-4">
    POWERED BY
    <img src="assets/images/educrayons.png" width="100" class="text-center ml-2">
</div>