<div class="container-fluid px-0 px-sm-3 mt-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body row mx-0">
                <div class="font-22 pt-2 ml-2">
                    <span class="ml-sm-3 text-danger text-uppercase" *ngIf="uploadLoaded">VIDEO VIEWER</span>
                </div>
                <div class="ml-auto row mx-0">

                    <a [routerLink]="'/user/student-timetable/'+sessionId">
                        <button class="btn btn-danger">
                            <i class="fas fa-arrow-circle-left mr-2 font-12"></i>
                            <span class="ml-2 font-12">BACK</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="uploadLoaded">
    <div class="container-fluid mt-4 px-0 px-sm-3" *ngIf=" upload.type_of_class==='R'">
        <div class="row mx-0">
            <div class="col-md-12 col-lg-12">
                <div class="card" *ngIf="upload['files']" (contextmenu)="onRightClick($event)">
                    <vg-player style="height: 450px;" *ngIf="!s3active">
                        <vg-overlay-play (click)="playVideo()"></vg-overlay-play>
                        <vg-buffering></vg-buffering>
                        <vg-scrub-bar>
                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                        </vg-scrub-bar>

                        <vg-controls>
                            <vg-play-pause (click)="playVideo()"></vg-play-pause>

                            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                            <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

                            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                            <vg-mute></vg-mute>
                            <vg-volume></vg-volume>

                            <vg-fullscreen></vg-fullscreen>
                        </vg-controls>

                        <video #media [vgMedia]="media" id="singleVideo" preload="auto">
                            <source src="{{mediaURL}}{{upload['files']}}" type="video/mp4">

                        </video>
                    </vg-player>
                    <vg-player style="height: 450px;" *ngIf="s3active">
                        <vg-overlay-play (click)="playVideo()"></vg-overlay-play>
                        <vg-buffering></vg-buffering>
                        <vg-scrub-bar>
                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                        </vg-scrub-bar>

                        <vg-controls>
                            <vg-play-pause (click)="playVideo()"></vg-play-pause>

                            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                            <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

                            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                            <vg-mute></vg-mute>
                            <vg-volume></vg-volume>

                            <vg-fullscreen></vg-fullscreen>
                        </vg-controls>

                        <video #media [vgMedia]="media" id="singleVideo" preload="auto">
                            <source src="{{upload['files']}}" type="video/mp4">

                        </video>
                    </vg-player>
                </div>
            </div>
            <div class="col-md-12 mt-4">
                <div class="row mx-0">
                    <div class="col-md-9" *ngIf="upload['audio']!='/media/null'" (contextmenu)="onRightClick($event)">
                        <label for="fileName">Audio File</label>
                        <br>
                        <vg-player style="height: 50px;">
                            <vg-controls>
                                <vg-play-pause></vg-play-pause>
                                <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                                <vg-scrub-bar>
                                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                                </vg-scrub-bar>

                                <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                                <vg-mute></vg-mute>
                                <vg-fullscreen></vg-fullscreen>

                            </vg-controls>

                            <audio #media [vgMedia]="media" id="myAudio" preload="auto"
                                (contextmenu)="onRightClick($event)">
                                <source src="{{audioPath}}" type="audio/mpeg">
                            </audio>
                        </vg-player>
                    </div>
                    <div class="col-md-3" *ngIf="upload['document']!='/media/null'">
                        <label for="fileName">Document</label>
                        <a class="btn btn-info text-light font-14 col-md-12 mt-1" target="blank"
                            href="{{documentPath}}">
                            VIEW FILE
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 mt-3">
                <div class="card" style="min-height: 400px;">
                    <div class="card-body m-2">
                        <div class="text-capitalize font-20">{{upload.file_name}}</div>
                        <div class="col-md-12 mx-0 px-0 mt-3 text-muted" [innerHTML]="upload.file_description">
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-5 col-5 text-muted font-14">
                                Subject name
                            </div>
                            <div class="col-md-1 col-1">
                                :
                            </div>
                            <div class="col-md-5 col-5">
                                {{upload.subject_name}}
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-5 col-5 text-muted font-14">
                                Staff name
                            </div>
                            <div class="col-md-1 col-1">
                                :
                            </div>
                            <div class="col-md-5 col-5">
                                {{upload.staff_first_name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" *ngIf=" upload.type_of_class==='LC'">
        <div class="row mx-0">
            <div class="col-md-12" *ngIf="upload.live_record">
                <ng-container *ngIf="upload['download_file'].length!=0" class="text-center">
                    <div class="text-center my-5">
                        <div *ngFor="let item of upload.download_file">
                            <div class="card mt-3" (contextmenu)="onRightClick($event)">
                                <vg-player style="height: 450px;" *ngIf="!s3active">
                                    <vg-overlay-play (click)="playVideo()"></vg-overlay-play>
                                    <vg-buffering></vg-buffering>
                                    <vg-scrub-bar>
                                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                                    </vg-scrub-bar>

                                    <vg-controls>
                                        <vg-play-pause (click)="playVideo()"></vg-play-pause>

                                        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                                        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

                                        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                                        <vg-mute></vg-mute>
                                        <vg-volume></vg-volume>

                                        <vg-fullscreen></vg-fullscreen>
                                    </vg-controls>

                                    <video #media [vgMedia]="media" id="singleVideo" preload="auto">
                                        <source src="{{mediaURL}}{{item['files']}}" type="video/mp4">
                                    </video>
                                </vg-player>
                                <vg-player style="height: 450px;" *ngIf="s3active">
                                    <vg-overlay-play (click)="playVideo()"></vg-overlay-play>
                                    <vg-buffering></vg-buffering>
                                    <vg-scrub-bar>
                                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                                    </vg-scrub-bar>

                                    <vg-controls>
                                        <vg-play-pause (click)="playVideo()"></vg-play-pause>

                                        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                                        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

                                        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                                        <vg-mute></vg-mute>
                                        <vg-volume></vg-volume>

                                        <vg-fullscreen></vg-fullscreen>
                                    </vg-controls>

                                    <video #media [vgMedia]="media" id="singleVideo" preload="auto">
                                        <source src="{{item['files']}}" type="video/mp4">
                                    </video>
                                </vg-player>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>

            <div class="col-md-12 mt-4">
                <div class="row mx-0">
                    <div class="col-md-9" *ngIf="upload['audio']!='/media/null'" (contextmenu)="onRightClick($event)">
                        <label for="fileName">Audio File</label>
                        <br>
                        <vg-player style="height: 50px;">
                            <vg-controls>
                                <vg-play-pause></vg-play-pause>
                                <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                                <vg-scrub-bar>
                                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                                </vg-scrub-bar>

                                <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                                <vg-mute></vg-mute>
                                <vg-fullscreen></vg-fullscreen>

                            </vg-controls>

                            <audio #media [vgMedia]="media" id="myAudio" preload="auto"
                                (contextmenu)="onRightClick($event)">
                                <source src="{{audioPath}}" type="audio/mpeg">
                            </audio>
                        </vg-player>
                    </div>
                    <div class="col-md-3" *ngIf="upload['document']!='/media/null'">
                        <label for="fileName">Document</label>
                        <a class="btn btn-info text-light font-14 col-md-12 mt-1" target="blank"
                            href="{{documentPath}}">
                            VIEW FILE
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>