<div class="container-fluid mt-5 px-0 px-sm-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body row mx-0">
                <div class="font-22 pt-2 ml-2">
                    <i class="fas fa-university text-purple mr-3"></i>
                    <span>DISCUSSION - INSTITUTIONS</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center my-5 py-5" *ngIf="!dataLoaded">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="container-fluid mt-2 px-0 px-sm-3 mt-3" *ngIf="dataLoaded">
    <div class="row mx-0" *ngIf="classes.length!==0">
        <div class="col-md-6 col-lg-4 mt-2 col-12" *ngFor="let class of classes">
            <a (click)="goToClass(class)">
                <div class="card p-sm-3 py-3 py-sm-0 cursor-pointer text-purple">
                    <div class="row mx-0 align-items-center">
                        <div class="col-md-2 col-2 text-center px-0">
                            <div class="font-25">
                                <i class="fas fa-university"></i>
                            </div>
                        </div>
                        <div class="col-md-1 col-1">
                            <div class="vl"></div>
                        </div>
                        <div class="col-md-8 col-8 text-center px-0">
                            <div
                                class="my-2 col-md-12 col-12 text-center font-14 text-uppercase font-weight-bold px-0 mx-0">
                                {{class.class_title}}
                            </div>
                            <div
                                class="col-md-12 col-12 text-center font-14 text-uppercase font-weight-bold px-0 mx-0 text-danger">
                                {{class.class_division}}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row mx-0" *ngIf="classes.length==0">
        <div class="text-center my-5 py-5 col-md-12 text-muted">
            NO CLASSES ASSIGNED
        </div>
    </div>
</div>