<div class="container-fluid px-0 px-sm-3 mt-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body row mx-0">
                <div class="font-22 pt-2 ml-2">
                    <i class="fas fa-tachometer-alt text-purple mr-3"></i>
                    <span>DASHBOARD</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center my-5 py-5" *ngIf="!dataLoaded">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="conatainer-fluid m-0 m-sm-3 mt-1" *ngIf="dataLoaded">
    <div class="row mx-0" *ngIf="userRole=='SA' || userRole=='A'">
        <div class="col-12 col-md-6 col-lg-4  text-center mt-4 mt-sm-3">
            <div class="card py-4">
                <div class="font-30 text-primary">
                    {{userCount.Class_no}}
                </div>
                <div class="font-12 mt-2 font-weight-bold">
                    INSTITUTIONS
                </div>
                <a [routerLink]="'/admin/classrooms'" class="stretched-link"></a>

            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 text-center mt-3">
            <div class="card py-4">
                <div class="font-30 text-primary">
                    {{userCount.User_no}}
                </div>
                <div class="font-12 mt-2 font-weight-bold">
                    USERS
                </div>
                <a [routerLink]="'/admin/users'" class="stretched-link"></a>

            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 text-center mt-3">
            <div class="card py-4">
                <div class="font-30 text-primary">
                    {{userCount.Staff_no}}
                </div>
                <div class="font-12 mt-2 font-weight-bold">
                    STAFFS
                </div>
                <a [routerLink]="'/admin/users/staffs'" class="stretched-link"></a>

            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 text-center mt-3">
            <div class="card py-4">
                <div class="font-30 text-primary">
                    {{userCount.Student_no}}
                </div>
                <div class="font-12 mt-2 font-weight-bold">
                    STUDENTS
                </div>
                <a [routerLink]="'/admin/users/students'" class="stretched-link"></a>
            </div>
        </div>
        <!-- <div class="col-12 col-md-6 col-lg-4 text-center mt-3">
            <div class="card py-4">
                <div class="font-30 text-primary">
                    {{userCount.Parent_no}}
                </div>
                <div class="font-12 mt-2 font-weight-bold">
                    PARENTS
                </div>
                <a [routerLink]="'/admin/users/parents'" class="stretched-link"></a>

            </div>
        </div> -->
        <div class="col-12 col-md-6 col-lg-4 text-center mt-3">
            <div class="card py-4">
                <div class="font-30 text-primary">
                    {{userCount.Upload_no}}
                </div>
                <div class="font-12 mt-2 font-weight-bold">
                    SESSIONS
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-0" *ngIf="userRole=='SF'">
        <div class="col-md-6 col-lg-3 text-center mt-3">
            <div class="card py-4">
                <div class="font-30 text-primary">
                    {{userCount.class_no}}
                </div>
                <div class="font-12 mt-2 font-weight-bold">
                    ASSIGNED INSTITUTIONS
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 text-center mt-3">
            <div class="card py-4">
                <div class="font-30 text-primary">
                    {{userCount.assignment_no}}
                </div>
                <div class="font-12 mt-2 font-weight-bold">
                    ASSIGNMENTS
                </div>
                <a [routerLink]="'/admin/staff-assignments'" class="stretched-link"></a>

            </div>
        </div>
        <div class="col-md-6 col-lg-3 text-center mt-3">
            <div class="card py-4">
                <div class="font-30 text-primary">
                    {{userCount.unittest_no}}
                </div>
                <div class="font-12 mt-2 font-weight-bold">
                    UNIT TESTS
                </div>
                <a [routerLink]="'/admin/staff-tests'" class="stretched-link"></a>

            </div>
        </div>
        <!-- <div class="col-md-6 col-lg-3 text-center mt-3">
            <div class="card py-4">
                <div class="font-30 text-primary">
                    {{userCount.qa_parent_no}}
                </div>
                <div class="font-12 mt-2 font-weight-bold">
                    DOUBTS BY PARENTS
                </div>
                <a [routerLink]="'/admin/staff-qa'" class="stretched-link"></a>
            </div>
        </div> -->
        <div class="col-md-6 col-lg-3 text-center mt-3">
            <div class="card py-4">
                <div class="font-30 text-primary">
                    {{userCount.qa_student_no}}
                </div>
                <div class="font-12 mt-2 font-weight-bold">
                    DOUBTS BY STUDENTS
                </div>
                <a [routerLink]="'/admin/staff-qa'" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 text-center mt-3">
            <div class="card py-4">
                <div class="font-30 text-primary">
                    {{userCount.Upload_no}}
                </div>
                <div class="font-12 mt-2 font-weight-bold">
                    SESSIONS
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 text-center mt-3">
            <div class="card py-4">
                <div class="font-30 text-primary">
                    {{userCount.upload_live_no}}
                </div>
                <div class="font-12 mt-2 font-weight-bold">
                    LIVE SESSIONS
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 text-center mt-3">
            <div class="card py-4">
                <div class="font-30 text-primary">
                    {{userCount.upload_record_no}}
                </div>
                <div class="font-12 mt-2 font-weight-bold">
                    RECORDED SESSIONS
                </div>
            </div>
        </div>
    </div>
</div>