<mat-drawer-container class="home-container mat-typography" autosize style="margin-left: -1px;">
    <mat-drawer #drawer mode="side" opened="true" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false" style="background-color: #141414;padding-right: 1px;">
        <div class="w-100 text-center py-3 mt-1" *ngIf="!isExpanded">
            <img src="assets/images/iepc_small.png" width="60" class="pl-1">
        </div>
        <div class="w-100 text-center my-2" *ngIf="isExpanded">
            <img src="assets/images/iepc_2.jpg" width="293" height="59" class="text-center">
        </div>

        <hr class="w-75">

        <mat-nav-list class="mt-3">

            <a (click)="goToMenu('/user/home','userHomeRoute')">
                <mat-list-item
                    [ngClass]="{'text-light': currentRoute=='userHomeRoute', 'text-muted': currentRoute!='userHomeRoute'}">
                    <i class="fas fa-tachometer-alt"
                        [ngClass]="{'ml-4': isExpanded, 'ml-1': (!isExpanded && (isHandset$ | async) === false) }"
                        mat-list-icon></i>
                    <h4 mat-line *ngIf="isExpanded || (isHandset$ | async) === true" class="mr-5 pr-4">Dashboard</h4>
                </mat-list-item>
                <div class="font-8 text-light mt-n4 pt-1 text-center text-uppercase"
                    *ngIf="!isExpanded && (isHandset$ | async) === false"
                    [ngClass]="{'text-light': currentRoute=='userHomeRoute', 'text-muted': currentRoute!='userHomeRoute'}">
                    DASHBOARD</div>
            </a>
            <a (click)="goToMenu('/user/student-attendance','studentAttendanceRoute')" *ngIf="userType==='ST'">
                <mat-list-item
                    [ngClass]="{'text-light': currentRoute=='studentAttendanceRoute', 'text-muted': currentRoute!='studentAttendanceRoute'}">
                    <i class="fas fa-calendar-check"
                        [ngClass]="{'ml-4': isExpanded,'ml-1': (!isExpanded && (isHandset$ | async) === false)}"
                        mat-list-icon></i>
                    <h4 mat-line *ngIf="isExpanded || (isHandset$ | async) === true" class="mr-5 pr-4">Attendance</h4>
                </mat-list-item>
                <div class="font-8 text-light mt-n4 pt-1 text-center text-uppercase"
                    *ngIf="!isExpanded && (isHandset$ | async) === false"
                    [ngClass]="{'text-light': currentRoute=='studentAttendanceRoute', 'text-muted': currentRoute!='studentAttendanceRoute'}">
                    Attendance</div>
            </a>
            <a (click)="goToMenu('/user/student-timetable','studentTimetableRoute')" *ngIf="userType==='ST'">
                <mat-list-item
                    [ngClass]="{'text-light': currentRoute=='studentTimetableRoute', 'text-muted': currentRoute!='studentTimetableRoute'}">
                    <i class="fas fa-calendar-alt"
                        [ngClass]="{'ml-4': isExpanded,'ml-1': (!isExpanded && (isHandset$ | async) === false)}"
                        mat-list-icon></i>
                    <h4 mat-line *ngIf="isExpanded || (isHandset$ | async) === true" class="mr-5 pr-4">TimeTable</h4>
                </mat-list-item>
                <div class="font-8 text-light mt-n4 pt-1 text-center text-uppercase"
                    *ngIf="!isExpanded && (isHandset$ | async) === false"
                    [ngClass]="{'text-light': currentRoute=='studentTimetableRoute', 'text-muted': currentRoute!='studentTimetableRoute'}">
                    Timetable</div>
            </a>

            <a (click)="goToMenu('/user/student-assignments','studentAssignmentRoute')" *ngIf="userType==='ST'">
                <mat-list-item
                    [ngClass]="{'text-light': currentRoute=='studentAssignmentRoute', 'text-muted': currentRoute!='studentAssignmentRoute'}">
                    <i class="fas fa-file-alt"
                        [ngClass]="{'ml-4': isExpanded,'ml-1': (!isExpanded && (isHandset$ | async) === false)}"
                        mat-list-icon></i>
                    <h4 mat-line *ngIf="isExpanded || (isHandset$ | async) === true" class="mr-5 pr-4">Assignments</h4>
                </mat-list-item>
                <div class="font-8 text-light mt-n4 pt-1 text-center text-uppercase"
                    *ngIf="!isExpanded && (isHandset$ | async) === false"
                    [ngClass]="{'text-light': currentRoute=='studentAssignmentRoute', 'text-muted': currentRoute!='studentAssignmentRoute'}">
                    Assignments</div>
            </a>


            <a (click)="goToMenu('/user/student-tests','studentTestsRoute')" *ngIf="userType==='ST'">
                <mat-list-item
                    [ngClass]="{'text-light': currentRoute=='studentTestsRoute', 'text-muted': currentRoute!='studentTestsRoute'}">
                    <i class="fas fa-clipboard-list"
                        [ngClass]="{'ml-4': isExpanded,'ml-1': (!isExpanded && (isHandset$ | async) === false) }"
                        mat-list-icon></i>
                    <h4 mat-line *ngIf="isExpanded || (isHandset$ | async) === true" class="mr-5 pr-4">Unit Tests</h4>
                </mat-list-item>
                <div class="font-8 text-light mt-n4 pt-1 text-center text-uppercase"
                    *ngIf="!isExpanded && (isHandset$ | async) === false"
                    [ngClass]="{'text-light': currentRoute=='studentTestsRoute', 'text-muted': currentRoute!='studentTestsRoute'}">
                    Unit Tests</div>
            </a>

            <a (click)="goToMenu('/user/st-dashboard','parentStudentsRoute')" *ngIf="userType==='P'">
                <mat-list-item
                    [ngClass]="{'text-light': currentRoute=='parentStudentsRoute', 'text-muted': currentRoute!='parentStudentsRoute'}">
                    <i class="fas fa-user-graduate"
                        [ngClass]="{'ml-4': isExpanded,'ml-1': (!isExpanded && (isHandset$ | async) === false) }"
                        mat-list-icon></i>
                    <h4 mat-line *ngIf="isExpanded || (isHandset$ | async) === true" class="mr-5 pr-4">Students</h4>
                </mat-list-item>
                <div class="font-8 text-light mt-n4 pt-1 text-center text-uppercase"
                    *ngIf="!isExpanded && (isHandset$ | async) === false"
                    [ngClass]="{'text-light': currentRoute=='parentStudentsRoute', 'text-muted': currentRoute!='parentStudentsRoute'}">
                    Students</div>
            </a>

            <a (click)="goToMenu('/user/student-qa','studentDiscussionsRoute')" *ngIf="userType==='ST'">
                <mat-list-item
                    [ngClass]="{'text-light': currentRoute=='studentDiscussionsRoute', 'text-muted': currentRoute!='studentDiscussionsRoute'}">
                    <i class="fas fa-comments"
                        [ngClass]="{'ml-4': isExpanded,'ml-0': (!isExpanded && (isHandset$ | async) === false) }"
                        mat-list-icon></i>
                    <h4 mat-line *ngIf="isExpanded || (isHandset$ | async) === true" class="mr-5 pr-4">Discussions</h4>
                </mat-list-item>
                <div class="font-8 text-light mt-n4 pt-1 text-center text-uppercase"
                    *ngIf="!isExpanded && (isHandset$ | async) === false"
                    [ngClass]="{'text-light': currentRoute=='studentDiscussionsRoute', 'text-muted': currentRoute!='studentDiscussionsRoute'}">
                    Discussions</div>
            </a>

            <a (click)="goToMenu('/user/parent-qa','parentDiscussionsRoute')" *ngIf="userType==='P'">
                <mat-list-item
                    [ngClass]="{'text-light': currentRoute=='parentDiscussionsRoute', 'text-muted': currentRoute!='parentDiscussionsRoute'}">
                    <i class="fas fa-comments"
                        [ngClass]="{'ml-4': isExpanded,'ml-0': (!isExpanded && (isHandset$ | async) === false) }"
                        mat-list-icon></i>
                    <h4 mat-line *ngIf="isExpanded || (isHandset$ | async) === true" class="mr-5 pr-4">Discussions</h4>
                </mat-list-item>
                <div class="font-8 text-light mt-n4 pt-1 text-center text-uppercase"
                    *ngIf="!isExpanded && (isHandset$ | async) === false"
                    [ngClass]="{'text-light': currentRoute=='parentDiscussionsRoute', 'text-muted': currentRoute!='parentDiscussionsRoute'}">
                    Discussions</div>
            </a>

            <a (click)="goToMenu('/user/settings','userSettingsRoute')">
                <mat-list-item
                    [ngClass]="{'text-light': currentRoute=='userSettingsRoute','text-muted': currentRoute!='userSettingsRoute'}">
                    <i class="fas fa-cog"
                        [ngClass]="{'ml-4': isExpanded, 'ml-1': (!isExpanded && (isHandset$ | async) === false)}"
                        mat-list-icon></i>
                    <h4 mat-line *ngIf="isExpanded || (isHandset$ | async) === true" class="mr-5 pr-5">Settings</h4>
                </mat-list-item>
                <div class="font-8 text-light mt-n4 pt-1 text-center text-uppercase"
                    *ngIf="!isExpanded && (isHandset$ | async) === false"
                    [ngClass]="{'text-light': currentRoute=='userSettingsRoute','text-muted': currentRoute!='userSettingsRoute'}">
                    Settings</div>
            </a>
        </mat-nav-list>
    </mat-drawer>

    <nav class="navbar navbar-light bg-purple">
        <button (click)="isExpanded = !isExpanded" class="btn btn-transparent text-light p-0 d-none d-sm-block">
            <mat-icon aria-label="Menu">menu</mat-icon>
        </button>
        <button (click)="isExpanded = !isExpanded" class="btn btn-transparent text-light p-0 d-block d-sm-none"
            (click)="drawer.toggle()" *ngIf="isHandset$ | async">
            <mat-icon aria-label="Menu">menu</mat-icon>
        </button>
        <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn" aria-controls="dropdown-basic">
                <img src="assets/images/profile_pic.png" alt="" width="40" height="40">
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item cursor-pointer" [routerLink]="'/user/settings'"><span
                            *ngIf="userName">{{userName}}'s</span> profile</a>
                </li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="logout()">logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="home-sidenav-content m-2">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>