/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
@import '~video.js/dist/video-js.css';


html,
body {
    font-size: 16px !important;
    background-color: whitesmoke !important;
    color: #666666 !important;
}

* {
    outline: none !important;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

a,
a:hover {
    text-decoration: none !important;
    color: black !important;
}


.font-120 {
    font-size: 120px !important;
}

.font-8 {
    font-size: 8px !important;
}

.font-10 {
    font-size: 10px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-14 {
    font-size: 14px !important;
}



.font-16 {
    font-size: 16px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-20 {
    font-size: 20px !important;
}

.font-22 {
    font-size: 22px !important;
}

.font-25 {
    font-size: 25px !important;
}

.font-30 {
    font-size: 30px !important;
}

.font-35 {
    font-size: 35px !important;
}

.font-120 {
    font-size: 120px !important;
}

.br-0 {
    border-radius: 0 !important;
}

.br-25 {
    border-radius: 25px !important;
}

.btblr-25 {
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
    width: 100% !important;
    height: 500px !important;
    object-fit: cover !important;
}

.btn-transparent {
    background-color: transparent !important;
}

.vl {
    border-left: 1px solid #d3d3d3;
    height: 70px;
}

.cursor-pointer {
    cursor: pointer !important;
}

.cursor-context-menu {
    cursor: context-menu !important;
}

.br-tb-l-25 {
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
}

.br-tb-r-25 {
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
}

.mat-list-icon {
    font-size: 20px !important;
}

.dataTables_length {
    display: none !important;
}

.dataTables_filter {
    input {
        border-radius: 5px !important;
        border: 1px solid grey;
        padding: 5px !important;
        width: 250px !important;
        margin: 0px 8px 20px 8px !important;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2) !important;

    }
}

table.dataTable.no-footer {
    border-bottom: 1px solid #d3d3d3 !important;
    margin-bottom: 15px !important;
    padding-bottom: 15px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    // color: white !important;
    border: 2px solid rebeccapurple !important;
    background: transparent !important;
    border-radius: 5px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 2px solid rebeccapurple !important;
    //   background-color: rebeccapurple !important;
    border-radius: 5px !important;
}

.snackbar-success {
    background-color: #5cb85c !important;
    color: white !important;
}

.snackbar-danger {
    background-color: #d9534f !important;
    color: white !important;
}

.modal-header {
    border: none !important;
}

.active-login {
    font-weight: bold !important;
    border-bottom: 2px solid;
    padding: 7px 7px !important;
}

.dropdown-item {
    background: white !important;
}

.form-control,
textarea {
    padding: 20px !important;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2) !important;
    // box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    border-radius: 5px !important;
}

.br-10 {
    border-radius: 10px !important;
}

.bs {
    // box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;

}

.bg-purple {
    background-color: rebeccapurple;
}

.text-purple {
    color: rebeccapurple !important;
}


.border-purple {
    border: 2px solid rebeccapurple;
}

.card,
.btn-shadow {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2) !important;
}

// Button disabled
.btn:disabled {
    cursor: not-allowed !important;
}

// modal 
.modal-content {
    border-radius: 10px !important;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
// input[type=number] {
//   -moz-appearance: textfield;
// }

.mat-tab-header {
    background-color: rgba(0, 0, 0, 0.03) !important;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
    color: #fff;
    /* background-color: #b3d7ff; */
    border-color: rebeccapurple !important;
    background-color: rebeccapurple !important;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: rebeccapurple !important;
    border-color: rebeccapurple !important;
}

.ql-container {
    min-height: 250px !important;
}

.table-maxwidth {
    display: inline-block !important;
    width: 180px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.table-maxwidth-mt10 {
    display: inline-block !important;
    width: 180px !important;
    white-space: nowrap !important;
    margin-top: 10px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

// video.js
.video-js .vjs-big-play-button {
    top: 45% !important;
    left: 45% !important;
}

.video-js {
    width: 100% !important;
}


@media only screen and (min-width: 200px) and (max-width: 600px) {
    .video-js .vjs-big-play-button {
        top: 45% !important;
        left: 40% !important;
    }

    .video-js {
        width: 100% !important;
    }
}

// body>#zmmtg-root {
//   display: none !important;
//       overflow-y: none !important;
// }

// #zmmtg-root, .meeting-client, .meeting-client-inner {
//   position: relative !important;
// }

// .navbar, .navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
//     display: flex !important;
//     flex-wrap: wrap !important;
//     align-items: center !important;
//     justify-content: flex-end !important;
// }


// @media (min-width: 1200px){
//     .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
//         float: none;
//     }
// }

// nav > button {
//     margin-right: auto !important;
// }

.ql-editor {
    height: 200px !important;
}

@media only screen and (min-width: 200px) and (max-width: 600px) {

    table.dataTable tbody th,
    table.dataTable tbody td {
        width: 185px !important;
    }
}

.vjs-default-skin.vjs-paused .vjs-big-play-button {
    display: none !important;
}

.r-header {
    display: none !important;
}

@media (min-width:200px) and (max-width:600px) {

    table.dataTable thead th,
    table.dataTable thead td {
        display: table-cell !important;
        width: 150px !important;
        min-width: 150px !important;
    }
}

@media (min-width:600px) and (max-width:800px) {

    table.dataTable thead th,
    table.dataTable thead td {
        display: table-cell !important;
        width: 140px !important;
        min-width: 140px !important;
    }
}

thead,
th {
    text-transform: uppercase !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2) !important;
    border-radius: 10px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #ced4da !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 8px 0 8px 0 !important;
}

.cust-table {
    display: table-cell !important;
    width: 140px !important;
    min-width: 140px !important;
}

.container-height {
    min-height: 500px !important;
}

iframe {
    #document {
        html {
            body {
                display: none !important
            }
        }
    }
}

.ngx-timepicker {
    border-bottom: none !important;
}

.ngx-timepicker-control {
    height: 40px !important;
}

.dt-buttons {
    position: absolute;
}