<div class="text-center mt-5 pt-5">
    <div class="font-120 text-danger pt-sm-5">
        {{errorCode}}
    </div>
    <div class="font-20 font-weight-bold">
        {{errorMessage}}
    </div>
    <div class="text-muted font-14 col-md-4 mx-auto mt-4">
        We're sorry the page you requested could not be found. Click here to go back to our <a
            [routerLink]="redirectRoute" routerLinkActive="router-link-active">homepage.</a>
    </div>
</div>