<div class="container-fluid px-0 px-sm-3 mt-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body row mx-0">
                <div class="font-22 pt-2 ml-2">
                    <i class="fas fa-tachometer-alt text-purple mr-3"></i>
                    DASHBOARD
                </div>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="currentUser==='P'">
    <div class="d-flex justify-content-center my-5 py-5" *ngIf="!dataLoaded">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="conatainer-fluid m-0 m-sm-3 mt-1" *ngIf="dataLoaded">
        <div class="row mx-0">
            <div class="col-md-6 text-center mt-4 mt-sm-3">
                <div class="card py-4">
                    <div class="font-30 text-primary">
                        {{userCount.student_no}}
                    </div>
                    <div class="font-12 mt-2 font-weight-bold">
                        STUDENT(s) AT SCHOOL
                    </div>

                    <a [routerLink]="'/user/st-dashboard'" class="stretched-link"></a>
                </div>
            </div>

            <div class="col-md-6 text-center mt-3">
                <div class="card py-4">
                    <div class="font-30 text-primary">
                        {{userCount.qa_parent_no}}
                    </div>
                    <div class="font-12 mt-2 font-weight-bold">
                        DOUBT(s) ASKED
                    </div>
                    <a [routerLink]="'/user/parent-qa'" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="currentUser==='ST'">
    <div class="text-center my-5 py-5" *ngIf="attendance===false">
        <button class="btn btn-warning text-light col-md-8 col-lg-4 text-uppercase" (click)="markAttendance()"
            [disabled]="submitted">
            <div class="spinner-border spinner-border-sm mb-1" role="status" *ngIf="submitted">
                <span class="sr-only">Loading...</span>
            </div>
            Mark Attendance to continue class
        </button>
    </div>
    <ng-container *ngIf="attendance==='leave'">
        <div class="conatainer-fluid mt-1 m-0 m-sm-3" *ngIf="dataLoaded">
            <div class="row mx-0">
                <div class="col-12 col-md-6 col-lg-4 text-center mt-3">
                    <div class="card py-4">
                        <div class="font-30 text-primary">
                            {{userCount.assignment_no}}
                        </div>
                        <div class="font-12 mt-2 font-weight-bold">
                            TOTAL ASSIGNMENTS
                        </div>
                        <a [routerLink]="'/user/student-assignments'" class="stretched-link"></a>

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 text-center mt-3">
                    <div class="card py-4">
                        <div class="font-30 text-primary">
                            {{userCount.unittest_no}}
                        </div>
                        <div class="font-12 mt-2 font-weight-bold">
                            TOTAL UNIT TESTS
                        </div>
                        <a [routerLink]="'/user/student-tests'" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 text-center mt-3">
                    <div class="card py-4">
                        <div class="font-30 text-primary">
                            {{userCount.qa_no}}
                        </div>
                        <div class="font-12 mt-2 font-weight-bold">
                            DOUBT(s) ASKED
                        </div>
                        <a [routerLink]="'/user/student-qa'" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 text-center mt-3">
                    <div class="card py-4">
                        <div class="font-30 text-primary">
                            {{userCount.Upload_no}}
                        </div>
                        <div class="font-12 mt-2 font-weight-bold">
                            TOTAL SESSIONS
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 text-center mt-3">
                    <div class="card py-4">
                        <div class="font-30 text-primary">
                            {{userCount.upload_live_no}}
                        </div>
                        <div class="font-12 mt-2 font-weight-bold">
                            TOTAL LIVE SESSIONS
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 text-center mt-3">
                    <div class="card py-4">
                        <div class="font-30 text-primary">
                            {{userCount.upload_record_no}}
                        </div>
                        <div class="font-12 mt-2 font-weight-bold">
                            TOTAL RECORDED SESSIONS
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-5 px-0 px-sm-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body row mx-0">
                        <div class="font-22 pt-2">
                            TODAY's SESSIONS
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="card">
                    <div class="card-body mx-0">
                        <div class="font-22 pt-2 text-center text-danger">
                            YOU ARE ON LEAVE TODAY.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="attendance===true">
        <div class="d-flex justify-content-center my-5 py-5" *ngIf="!dataLoaded">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="conatainer-fluid mt-1 m-0 m-sm-3" *ngIf="dataLoaded">
            <div class="row mx-0">
                <div class="col-12 col-md-6 col-lg-4 text-center mt-3">
                    <div class="card py-4">
                        <div class="font-30 text-primary">
                            {{userCount.assignment_no}}
                        </div>
                        <div class="font-12 mt-2 font-weight-bold">
                            TOTAL ASSIGNMENTS
                        </div>
                        <a [routerLink]="'/user/student-assignments'" class="stretched-link"></a>

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 text-center mt-3">
                    <div class="card py-4">
                        <div class="font-30 text-primary">
                            {{userCount.unittest_no}}
                        </div>
                        <div class="font-12 mt-2 font-weight-bold">
                            TOTAL UNIT TESTS
                        </div>
                        <a [routerLink]="'/user/student-tests'" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 text-center mt-3">
                    <div class="card py-4">
                        <div class="font-30 text-primary">
                            {{userCount.qa_no}}
                        </div>
                        <div class="font-12 mt-2 font-weight-bold">
                            DOUBT(s) ASKED
                        </div>
                        <a [routerLink]="'/user/student-qa'" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 text-center mt-3">
                    <div class="card py-4">
                        <div class="font-30 text-primary">
                            {{userCount.Upload_no}}
                        </div>
                        <div class="font-12 mt-2 font-weight-bold">
                            TOTAL SESSIONS
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 text-center mt-3">
                    <div class="card py-4">
                        <div class="font-30 text-primary">
                            {{userCount.upload_live_no}}
                        </div>
                        <div class="font-12 mt-2 font-weight-bold">
                            TOTAL LIVE SESSIONS
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 text-center mt-3">
                    <div class="card py-4">
                        <div class="font-30 text-primary">
                            {{userCount.upload_record_no}}
                        </div>
                        <div class="font-12 mt-2 font-weight-bold">
                            TOTAL RECORDED SESSIONS
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid mt-5 px-0 px-sm-3" *ngIf="studentDetails && currentUser==='ST'">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body row mx-0">
                        <div class="font-22 pt-2">
                            TODAY's SESSIONS
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="conatainer-fluid m-0 m-sm-3" *ngIf="dataLoaded &&  currentUser==='ST'">
            <div class="row mx-0">
                <div class="col-12 col-md-6 col-lg-3 mt-3" *ngFor="let detail of studentDetails">
                    <a (click)="goToVideo(detail, detail.start_time, detail.end_time)"
                        *ngIf="detail['type_of_class']==='R'">
                        <div class="card" style="min-height: 330px;">
                            <img src="assets/images/video.jpg" *ngIf="!detail.thumbnail" height="125">
                            <img src="{{mediaURL}}{{detail.thumbnail}}" height="125" *ngIf="detail.thumbnail">
                            <div class="card-body">
                                <div class="text-capitalize font-18 table-maxwidth">{{detail.file_name}}</div>
                                <div class="row mt-4">
                                    <div class="col-md-12 text-muted font-14">
                                        Subject name
                                    </div>
                                    <div class="col-md-12 mt-1">
                                        {{detail.subject_name}}
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12 text-muted font-14">
                                        Staff name
                                    </div>
                                    <div class="col-md-12 mt-1">
                                        {{detail.staff_first_name}}
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12 text-muted font-14">
                                        Class Type
                                    </div>
                                    <div class="col-md-12 mt-1">
                                        Recorded <span class="text-muted">{{detail.start_time|convert24to12}} -
                                            {{detail.end_time|convert24to12}}</span>
                                    </div>
                                </div>
                                <!-- <div class="row mt-1">
                                    <div class="col-md-12 font-14 text-center text-muted mt-1">
                                        {{detail.start_time|convert24to12}} - {{detail.end_time|convert24to12}}
                                    </div>
                                </div> -->
                                <div class="col-md-12">
                                    <button class="btn btn-danger mt-3 w-100">
                                        Join Class
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>

                    <ng-container *ngIf="detail['type_of_class']==='LC'">
                        <!-- /live-class-staff/63 -->
                        <a (click)="goToURL(detail, detail.start_time, detail.end_time)">
                            <div class="card">
                                <div class="card-body" style="min-height: 430px;">
                                    <div class="text-capitalize font-18 pt-4 table-maxwidth">{{detail.file_name}}</div>
                                    <div class="row mt-4">
                                        <div class="col-md-12 text-muted font-14">
                                            Subject name
                                        </div>
                                        <div class="col-md-12 mt-1">
                                            {{detail.subject_name}}
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12 text-muted font-14">
                                            Staff name
                                        </div>
                                        <div class="col-md-12 mt-1">
                                            {{detail.staff_first_name}}
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12 text-muted font-14">
                                            Class Type
                                        </div>
                                        <div class="col-md-12 mt-1">
                                            Live
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-12 font-14 text-center text-muted mt-3">
                                            {{detail.start_time|convert24to12}} - {{detail.end_time|convert24to12}}
                                        </div>
                                    </div>

                                    <div class="col-md-12 mt-5">
                                        <button class="btn btn-danger mt-3 w-100" *ngIf="detail.type_of_class==='LC'">
                                            Join Live Class
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </ng-container>

                </div>
            </div>
        </div>
    </ng-container>
</ng-container>