<div class="container-fluid mt-5 px-0 px-sm-3">
    <div class="col-md-12">
        <div class="card">
            <div class=" card-body row mx-0">
                <div class="col-12 col-md-8 font-22 pt-2 ml-2">
                    <i class="fas fa-comments text-purple mr-3"></i>
                    <span class="text-uppercase">DISCUSSIONS</span><span
                        class="text-danger ml-3">{{classDetail.class_name}}</span>
                </div>
                <div class="col-12 col-md-3 text-right ml-auto mx-0">
                    <hr class="d-block d-sm-none">
                    <a [routerLink]="'/admin/staff-qa'">
                        <button class="btn btn-danger">
                            <i class="fas fa-arrow-circle-left mr-2 font-12"></i>
                            <span class="ml-2 font-12">BACK</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-4 px-0 px-sm-3">
    <div class="col-md-12">
        <div class="card">
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <a class="stretched-link" (click)="chooseUser('student')">
                            <span>STUDENTS</span>
                        </a>
                    </ng-template>
                    <div class="card-body py-5 my-5 text-center text-muted"
                        *ngIf="studentQAsloaded && studentQA.length===0">
                        NO DATA FOUND.
                    </div>
                    <div class="card-body table-responsive" *ngIf="studentQAsloaded && studentQA.length!==0">
                        <table class="mt-4 table-striped w-100">
                            <thead>
                                <tr class="text-uppercase">
                                    <th>Sl.no</th>
                                    <th>Student Name</th>
                                    <th>Title</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col" class="d-flex justify-content-center my-5 py-5 text-center"
                                    *ngIf="!studentQAsloaded">
                                    <div>
                                        <div class="spinner-border" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            <tbody>
                                <tr *ngFor="let qa of studentQA;let index=index">
                                    <td class="pl-3 py-4">{{index+1}}</td>
                                    <td class="pl-3">{{qa['student_first_name']}}</td>
                                    <td class="pl-3">{{qa.qa_student_title}}</td>
                                    <td>
                                        <button class="btn btn-success font-10 cursor-context-menu col-md-5"
                                            *ngIf="qa.qa_status==='R'">
                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                            <span class="ml-1 font-8">REPLIED</span>
                                        </button>
                                        <button class="btn btn-danger font-10 cursor-context-menu col-md-5"
                                            *ngIf="qa.qa_status==='NR'">
                                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                                            <span class="ml-1 font-8">NOT REPLIED</span>
                                        </button>
                                    </td>
                                    <td>
                                        <a [routerLink]="qa.qa_student_id+'/s-view'" class="pl-2">
                                            <button class="btn btn-info text-light font-14">
                                                VIEW
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>