<mat-drawer-container class="home-container mat-typography" autosize style="margin-left: -1px; margin-right: 1px;">
    <mat-drawer #drawer mode="side" opened="true" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false" style="background-color: #141414;padding-right: 1px;">
        <div class="w-100 text-center py-3 mt-1" *ngIf="!isExpanded">
            <img src="assets/images/iepc_small.png" width="60" class="pl-1">
        </div>
        <div class="w-100 text-center my-2" *ngIf="isExpanded">
            <img src="assets/images/iepc_2.jpg" width="293" height="59" class="text-center">
        </div>

        <hr class="w-75">

        <mat-nav-list class="mt-3">
            <a (click)="goToMenu('/admin/home','homeRoute')">
                <mat-list-item
                    [ngClass]="{'text-light': currentRoute=='homeRoute', 'text-muted': currentRoute!='homeRoute'}">
                    <i class="fas fa-tachometer-alt"
                        [ngClass]="{'ml-4': isExpanded, 'ml-1': (!isExpanded && (isHandset$ | async) === false) }"
                        mat-list-icon></i>
                    <h4 mat-line *ngIf="isExpanded || (isHandset$ | async) === true" class="mr-5 pr-4">Dashboard</h4>
                </mat-list-item>
                <div class="font-8 text-light mt-n4 pt-1 text-center text-uppercase"
                    *ngIf="!isExpanded && (isHandset$ | async) === false"
                    [ngClass]="{'text-light': currentRoute=='homeRoute', 'text-muted': currentRoute!='homeRoute'}">
                    DASHBOARD</div>
            </a>

            <a (click)="goToMenu('/admin/classrooms','classRoute')" *ngIf="(userType=='SA' || userType=='A')">
                <mat-list-item
                    [ngClass]="{'text-light': currentRoute=='classroomRoute', 'text-muted': currentRoute!='classroomRoute'}">
                    <i class="fas fa-university"
                        [ngClass]="{'ml-4': isExpanded, 'ml-1': (!isExpanded && (isHandset$ | async) === false) }"
                        mat-list-icon></i>
                    <h4 mat-line *ngIf="isExpanded || (isHandset$ | async) === true" class="mr-5 pr-4">Institutions</h4>
                </mat-list-item>
                <div class="font-8 text-light mt-n4 pt-1 text-center text-uppercase"
                    *ngIf="!isExpanded && (isHandset$ | async) === false"
                    [ngClass]="{'text-light': currentRoute=='classroomRoute', 'text-muted': currentRoute!='classroomRoute'}">
                    Institutions</div>
            </a>
            <a (click)="goToMenu('/admin/class-manager','classManagerRoute')" *ngIf="(userType=='SA' || userType=='A')">
                <mat-list-item
                    [ngClass]="{'text-light': currentRoute=='classManagerRoute', 'text-muted': currentRoute!='classManagerRoute'}">
                    <i class="fas fa-toolbox"
                        [ngClass]="{'ml-4': isExpanded, 'ml-1': (!isExpanded && (isHandset$ | async) === false) }"
                        mat-list-icon></i>
                    <h4 mat-line *ngIf="isExpanded || (isHandset$ | async) === true" class="mr-5 pr-4">Classes Manager
                    </h4>
                </mat-list-item>
                <div class="font-8 text-light mt-n4 pt-1 text-center text-uppercase"
                    *ngIf="!isExpanded && (isHandset$ | async) === false"
                    [ngClass]="{'text-light': currentRoute=='classManagerRoute', 'text-muted': currentRoute!='classManagerRoute'}">
                    Manager</div>
            </a>

            <a (click)="goToMenu('/admin/staff-attendance','staffAttendanceRoute')" *ngIf="userType==='SF'">
                <mat-list-item
                    [ngClass]="{'text-light': currentRoute=='staffAttendanceRoute', 'text-muted': currentRoute!='staffAttendanceRoute'}">
                    <i class="fas fa-calendar-check"
                        [ngClass]="{'ml-4': isExpanded,'ml-1': (!isExpanded && (isHandset$ | async) === false)}"
                        mat-list-icon></i>
                    <h4 mat-line *ngIf="isExpanded || (isHandset$ | async) === true" class="mr-5 pr-4">Attendance</h4>
                </mat-list-item>
                <div class="font-8 text-light mt-n4 pt-1 text-center text-uppercase"
                    *ngIf="!isExpanded && (isHandset$ | async) === false"
                    [ngClass]="{'text-light': currentRoute=='staffAttendanceRoute', 'text-muted': currentRoute!='staffAttendanceRoute'}">
                    Attendance</div>
            </a>

            <a (click)="goToMenu('/admin/timetable','stafftimetableRoute')" *ngIf="userType==='SF'">
                <mat-list-item
                    [ngClass]="{'text-light': currentRoute=='stafftimetableRoute','text-muted': currentRoute!='stafftimetableRoute'}">
                    <i class="fas fa-calendar-alt pl-1"
                        [ngClass]="{'ml-4': isExpanded,'ml-1': (!isExpanded && (isHandset$ | async) === false) }"
                        mat-list-icon></i>
                    <h4 mat-line *ngIf="isExpanded || (isHandset$ | async) === true" class="mr-5 pr-5">Timetables</h4>
                </mat-list-item>
                <div class="font-8 text-light mt-n4 pt-1 text-center text-uppercase"
                    *ngIf="!isExpanded && (isHandset$ | async) === false"
                    [ngClass]="{'text-light': currentRoute=='stafftimetableRoute','text-muted': currentRoute!='stafftimetableRoute'}">
                    Timetables</div>
            </a>



            <a (click)="goToMenu('/admin/staff-assignments','staffAssignmentRoute')" *ngIf="userType==='SF'">
                <mat-list-item
                    [ngClass]="{'text-light': currentRoute=='staffAssignmentRoute', 'text-muted': currentRoute!='staffAssignmentRoute'}">
                    <i class="fas fa-file-alt"
                        [ngClass]="{'ml-4': isExpanded,'ml-1': (!isExpanded && (isHandset$ | async) === false)}"
                        mat-list-icon></i>
                    <h4 mat-line *ngIf="isExpanded || (isHandset$ | async) === true" class="mr-5 pr-4">Assignments</h4>
                </mat-list-item>
                <div class="font-8 text-light mt-n4 pt-1 text-center text-uppercase"
                    *ngIf="!isExpanded && (isHandset$ | async) === false"
                    [ngClass]="{'text-light': currentRoute=='staffAssignmentRoute', 'text-muted': currentRoute!='staffAssignmentRoute'}">
                    Assignments</div>
            </a>


            <a (click)="goToMenu('/admin/staff-tests','staffUnitTestsRoute')" *ngIf="userType==='SF'">
                <mat-list-item
                    [ngClass]="{'text-light': currentRoute=='staffUnitTestsRoute', 'text-muted': currentRoute!='staffUnitTestsRoute'}">
                    <i class="fas fa-clipboard-list"
                        [ngClass]="{'ml-4': isExpanded,'ml-1': (!isExpanded && (isHandset$ | async) === false) }"
                        mat-list-icon></i>
                    <h4 mat-line *ngIf="isExpanded || (isHandset$ | async) === true" class="mr-5 pr-4">Unit Tests</h4>
                </mat-list-item>
                <div class="font-8 text-light mt-n4 pt-1 text-center text-uppercase"
                    *ngIf="!isExpanded && (isHandset$ | async) === false"
                    [ngClass]="{'text-light': currentRoute=='staffUnitTestsRoute', 'text-muted': currentRoute!='staffUnitTestsRoute'}">
                    Unit Tests</div>
            </a>


            <a (click)="goToMenu('/admin/staff-qa','staffDiscussionsRoute')" *ngIf="userType==='SF'">
                <mat-list-item
                    [ngClass]="{'text-light': currentRoute=='staffDiscussionsRoute', 'text-muted': currentRoute!='staffDiscussionsRoute'}">
                    <i class="fas fa-comments"
                        [ngClass]="{'ml-4': isExpanded,'ml-0': (!isExpanded && (isHandset$ | async) === false) }"
                        mat-list-icon></i>
                    <h4 mat-line *ngIf="isExpanded || (isHandset$ | async) === true" class="mr-5 pr-4">Discussions</h4>
                </mat-list-item>
                <div class="font-8 text-light mt-n4 pt-1 text-center text-uppercase"
                    *ngIf="!isExpanded && (isHandset$ | async) === false"
                    [ngClass]="{'text-light': currentRoute=='staffDiscussionsRoute', 'text-muted': currentRoute!='staffDiscussionsRoute'}">
                    Discussions</div>
            </a>


            <a (click)="goToMenu('/admin/users','usersRoute')" *ngIf="(userType=='SA' || userType=='A') ">
                <mat-list-item
                    [ngClass]="{'text-light': currentRoute=='usersRoute','text-muted': currentRoute!='usersRoute'}">
                    <i class="fas fa-users"
                        [ngClass]="{'ml-4': isExpanded, 'ml-0': (!isExpanded && (isHandset$ | async) === false) }"
                        mat-list-icon></i>
                    <h4 mat-line *ngIf="isExpanded || (isHandset$ | async) === true" class="mr-5 pr-4">Users</h4>
                </mat-list-item>
                <div class="font-8 text-light mt-n4 pt-1 text-center text-uppercase"
                    *ngIf="!isExpanded && (isHandset$ | async) === false"
                    [ngClass]="{'text-light': currentRoute=='usersRoute','text-muted': currentRoute!='usersRoute'}">
                    Users</div>
            </a>
            <a (click)="goToMenu('/admin/users/staffs','userStaffsRoute')"
                *ngIf="showUserMenu && (userType=='SA' || userType=='A') ">
                <mat-list-item
                    [ngClass]="{'text-light': currentRoute=='staffsRoute','text-muted': currentRoute!='staffsRoute'}">
                    <i class="fas fa-graduation-cap"
                        [ngClass]="{'ml-0': (!isExpanded && (isHandset$ | async) === false)}"
                        *ngIf="!isExpanded && (isHandset$ | async) === false" mat-list-icon></i>
                    <i class="fas fa-graduation-cap ml-5" *ngIf="isExpanded || (isHandset$ | async) === true"
                        mat-list-icon></i>
                    <h4 mat-line *ngIf="isExpanded || (isHandset$ | async) === true" class="mr-5 pr-3 pl-1">Staffs</h4>
                </mat-list-item>
                <div class="font-8 text-light mt-n4 pt-1 text-center text-uppercase"
                    *ngIf="!isExpanded && (isHandset$ | async) === false"
                    [ngClass]="{'text-light': currentRoute=='staffsRoute','text-muted': currentRoute!='staffsRoute'}">
                    Staffs</div>
            </a>
            <a (click)="goToMenu('/admin/users/students','userStudentsRoute')" *ngIf="showUserMenu">
                <mat-list-item
                    [ngClass]="{'text-light': currentRoute=='studentsRoute','text-muted': currentRoute!='studentsRoute'}">
                    <i class="fas fa-user-graduate"
                        [ngClass]="{'ml-1': (!isExpanded && (isHandset$ | async) === false)}"
                        *ngIf="!isExpanded && (isHandset$ | async) === false" mat-list-icon></i>
                    <i class="fas fa-user-graduate ml-5 pl-2" *ngIf="isExpanded || (isHandset$ | async) === true"
                        mat-list-icon></i>
                    <h4 mat-line *ngIf="isExpanded || (isHandset$ | async) === true" class="mr-5 pr-3">Students</h4>
                </mat-list-item>
                <div class="font-8 text-light mt-n4 pt-1 text-center text-uppercase"
                    *ngIf="!isExpanded && (isHandset$ | async) === false"
                    [ngClass]="{'text-light': currentRoute=='studentsRoute','text-muted': currentRoute!='studentsRoute'}">
                    Students</div>
            </a>
            <!-- <a (click)="goToMenu('/admin/users/parents','userParentsRoute')" *ngIf="showUserMenu">
                <mat-list-item
                    [ngClass]="{'text-light': currentRoute=='parentsRoute','text-muted': currentRoute!='parentsRoute'}">
                    <i class="fas fa-user-friends" [ngClass]="{'ml-0': (!isExpanded && (isHandset$ | async) === false)}"
                        *ngIf="!isExpanded && (isHandset$ | async) === false" mat-list-icon></i>
                    <i class="fas fa-user-friends ml-5" *ngIf="isExpanded || (isHandset$ | async) === true"
                        mat-list-icon></i>
                    <h4 mat-line *ngIf="isExpanded || (isHandset$ | async) === true" class="mr-5 pr-3 pl-1">Parents</h4>
                </mat-list-item>
                <div class="font-8 text-light mt-n4 pt-1 text-center text-uppercase"
                    *ngIf="!isExpanded && (isHandset$ | async) === false"
                    [ngClass]="{'text-light': currentRoute=='parentsRoute','text-muted': currentRoute!='parentsRoute'}">
                    Parents</div>
            </a> -->

            <a (click)="goToMenu('/admin/settings','settingsRoute')">
                <mat-list-item
                    [ngClass]="{'text-light': currentRoute=='settingsRoute','text-muted': currentRoute!='settingsRoute'}">
                    <i class="fas fa-cog"
                        [ngClass]="{'ml-4': isExpanded, 'ml-1': (!isExpanded && (isHandset$ | async) === false)}"
                        mat-list-icon></i>
                    <h4 mat-line *ngIf="isExpanded || (isHandset$ | async) === true" class="mr-5 pr-5">Settings</h4>
                </mat-list-item>
                <div class="font-8 text-light mt-n4 pt-1 text-center text-uppercase"
                    *ngIf="!isExpanded && (isHandset$ | async) === false"
                    [ngClass]="{'text-light': currentRoute=='settingsRoute','text-muted': currentRoute!='settingsRoute'}">
                    Settings</div>
            </a>
        </mat-nav-list>

    </mat-drawer>

    <nav class="navbar navbar-light bg-purple">
        <button (click)="isExpanded = !isExpanded" class="btn btn-transparent text-light p-0 d-none d-sm-block">
            <mat-icon aria-label="Menu">menu</mat-icon>
        </button>
        <button (click)="isExpanded = !isExpanded" class="btn btn-transparent text-light p-0 d-block d-sm-none"
            (click)="drawer.toggle()" *ngIf="isHandset$ | async">
            <mat-icon aria-label="Menu">menu</mat-icon>
        </button>
        <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn" aria-controls="dropdown-basic">
                <img src="assets/images/profile_pic.png" alt="" width="40" height="40">
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item cursor-pointer" [routerLink]="'/admin/settings'"><span
                            *ngIf="userName">{{userName}}'s</span> profile</a>
                </li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="logout()">logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="home-sidenav-content m-2 container-height">
        <router-outlet></router-outlet>
    </div>
    <div class="text-center col-md-12 text-muted font-10 mb-2">
        <hr>
        POWERED BY
        <img src="assets/images/educrayons.png" width="100" class="text-center ml-2">
    </div>
</mat-drawer-container>