<div class="container-fluid mt-5 px-0 px-sm-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body row mx-0">
                <div class="font-22 pt-2 ml-2">
                    <i class="fas fa-cog text-purple mr-3"></i>
                    <span>SETTINGS</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center my-5 py-5" *ngIf="!dataLoaded">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="container-fluid mt-3 px-0 px-sm-3" *ngIf="dataLoaded">
    <div class="row mx-0 mt-4" *ngIf="user.user_type=='SF'">
        <div class="col-md-12 col-lg-6">
            <div class="card">
                <div class="card-header text-uppercase">
                    Personal Details
                </div>
                <div class="card-body">
                    <div class="row mx-0" *ngIf="user['staff_details'][0]['first_name']">
                        <div class="col-md-5 col-6">
                            First Name
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['staff_details'][0]['first_name']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['staff_details'][0]['middle_name']">
                        <div class="col-md-5 col-6">
                            Middle Name
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['staff_details'][0]['middle_name']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['staff_details'][0]['last_name']">
                        <div class="col-md-5 col-6">
                            Last Name
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['staff_details'][0]['last_name']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['staff_details'][0]['email']">
                        <div class="col-md-5 col-6">
                            Email
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['staff_details'][0]['email']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['staff_details'][0]['phone_1']">
                        <div class="col-md-5 col-6">
                            Phone
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['staff_details'][0]['phone_1']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['staff_details'][0]['phone_2']">
                        <div class="col-md-5 col-6">
                            Additional phone
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['staff_details'][0]['phone_2']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['staff_details'][0]['dob']">
                        <div class="col-md-5 col-6">
                            Date of birth
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['staff_details'][0]['dob']| date: 'dd/MM/yyyy'}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['staff_details'][0]['doj']">
                        <div class="col-md-5 col-6">
                            Date of joining
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['staff_details'][0]['doj']| date: 'dd/MM/yyyy'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6"
            *ngIf="user['staff_details'][0]['street_1'] || user['staff_details'][0]['street_2'] || user['staff_details'][0]['city'] || user['staff_details'][0]['state'] || user['staff_details'][0]['country'] || user['staff_details'][0]['pincode']">
            <div class="card">
                <div class="card-header text-uppercase">
                    Address Details
                </div>
                <div class="card-body">
                    <div class="row mx-0" *ngIf="user['staff_details'][0]['street_1']">
                        <div class="col-md-5 col-6">
                            Address
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['staff_details'][0]['street_1']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['staff_details'][0]['street_2']">
                        <div class="col-md-5 col-6">
                            Landmark
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['staff_details'][0]['street_2']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['staff_details'][0]['city']">
                        <div class="col-md-5 col-6">
                            City
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['staff_details'][0]['city']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['staff_details'][0]['state']">
                        <div class="col-md-5 col-6">
                            State
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['staff_details'][0]['state']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['staff_details'][0]['country']">
                        <div class="col-md-5 col-6">
                            Country
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['staff_details'][0]['country']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['staff_details'][0]['pincode']">
                        <div class="col-md-5 col-6">
                            Pincode
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['staff_details'][0]['pincode']}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 mt-3" *ngIf="user.user_type=='SF'">
        <div class="row">
            <div class="col-md-6"
                *ngIf="user['staff_details'][0]['zoom_user_id'] || user['staff_details'][0]['zoom_live_password']">
                <div class="card">
                    <div class="card-header text-uppercase">
                        Zoom live class credentials
                    </div>
                    <div class="card-body">
                        <div class="row mx-0 col-md-12" *ngIf="user['staff_details'][0]['zoom_user_id']">
                            <div class="col-md-5 col-12">
                                Zoom live username
                            </div>
                            <div class="col-md-1 col-1">
                                :
                            </div>
                            <div class="col-md-6 col-4">
                                {{user['staff_details'][0]['zoom_user_id']}}
                            </div>
                        </div>
                        <div class="row mx-0 mt-3 col-md-12" *ngIf="user['staff_details'][0]['zoom_live_password']">
                            <div class="col-md-5 col-6">
                                Zoom live password
                            </div>
                            <div class="col-md-1 col-1">
                                :
                            </div>
                            <div class="col-md-6 col-4">
                                {{user['staff_details'][0]['zoom_live_password']}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6"
                *ngIf="user['staff_details'][0]['zoom_username'] || user['staff_details'][0]['zoom_password']">
                <div class="card">
                    <div class="card-header text-uppercase">
                        Zoom account login credentials
                    </div>
                    <div class="card-body">
                        <div class="row mx-0 col-md-12" *ngIf="user['staff_details'][0]['zoom_username']">
                            <div class="col-md-5 col-6">
                                Zoom username
                            </div>
                            <div class="col-md-1 col-1">
                                :
                            </div>
                            <div class="col-md-6 col-4">
                                {{user['staff_details'][0]['zoom_username']}}
                            </div>
                        </div>
                        <div class="row mx-0 mt-3 col-md-12" *ngIf="user['staff_details'][0]['zoom_password']">
                            <div class="col-md-5 col-6">
                                Zoom password
                            </div>
                            <div class="col-md-1 col-1">
                                :
                            </div>
                            <div class="col-md-6 col-4">
                                {{user['staff_details'][0]['zoom_password']}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="user.user_type=='A' || user.user_type=='SA'">
        <div class="col-md-12 col-lg-6">
            <div class="card m-3">
                <div class="card-header text-uppercase">
                    Personal Details
                </div>
                <div class="card-body">
                    <div class="row mx-0" *ngIf="user['admin_details'][0]['first_name']">
                        <div class="col-md-5 col-6">
                            First Name
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['admin_details'][0]['first_name']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['admin_details'][0]['middle_name']">
                        <div class="col-md-5 col-6">
                            Middle Name
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['admin_details'][0]['middle_name']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['admin_details'][0]['last_name']">
                        <div class="col-md-5 col-6">
                            Last Name
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['admin_details'][0]['last_name']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['admin_details'][0]['email']">
                        <div class="col-md-5 col-6">
                            Email
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['admin_details'][0]['email']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['admin_details'][0]['phone_1']">
                        <div class="col-md-5 col-6">
                            Phone
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['admin_details'][0]['phone_1']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['admin_details'][0]['phone_2']">
                        <div class="col-md-5 col-6">
                            Additional phone
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['admin_details'][0]['phone_2']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['admin_details'][0]['dob']">
                        <div class="col-md-5 col-6">
                            Date of birth
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['admin_details'][0]['dob']| date: 'dd/MM/yyyy'}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['admin_details'][0]['doj']">
                        <div class="col-md-5 col-6">
                            Date of joining
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['admin_details'][0]['doj']| date: 'dd/MM/yyyy'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6"
            *ngIf="user['admin_details'][0]['street_1'] || user['admin_details'][0]['street_2'] || user['admin_details'][0]['city'] || user['admin_details'][0]['state'] || user['admin_details'][0]['country'] || user['admin_details'][0]['pincode']">
            <div class="card m-3">
                <div class="card-header text-uppercase">
                    Address Details
                </div>
                <div class="card-body">
                    <div class="row mx-0" *ngIf="user['admin_details'][0]['street_1']">
                        <div class="col-md-5 col-6">
                            Address
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['admin_details'][0]['street_1']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['admin_details'][0]['street_2']">
                        <div class="col-md-5 col-6">
                            Landmark
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['admin_details'][0]['street_2']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['admin_details'][0]['city']">
                        <div class="col-md-5 col-6">
                            City
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['admin_details'][0]['city']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['admin_details'][0]['state']">
                        <div class="col-md-5 col-6">
                            State
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['admin_details'][0]['state']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['admin_details'][0]['country']">
                        <div class="col-md-5 col-6">
                            Country
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['admin_details'][0]['country']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['admin_details'][0]['pincode']">
                        <div class="col-md-5 col-6">
                            Pincode
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['admin_details'][0]['pincode']}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6" *ngIf="userRole==='SA' || userRole==='A'">
            <div class="card m-3">
                <div class="card-header text-uppercase">
                    CHANGE PASSWORD
                </div>
                <div class="card-body">
                    <form class="m-2" [formGroup]="passwordUpdateForm" (ngSubmit)="changePassword()" method="POST">
                        <div class="row my-3">
                            <div class="col-md-12 px-3 px-sm-5">
                                <div class="form-group">
                                    <label for="password" class="text-muted">Enter new password</label>
                                    <input type="password" class="form-control " id="password"
                                        placeholder="Enter new password" formControlName="newPassword"
                                        [ngClass]="{ 'is-invalid': passwordUpdateForm.get('newPassword').errors?.required && passwordUpdateForm.get('newPassword').touched }">
                                    <small id="password" class="form-text text-danger pl-2"
                                        *ngIf="passwordUpdateForm.get('newPassword').errors?.required && passwordUpdateForm.get('newPassword').touched">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-12 px-3 px-sm-5">
                                <div class="form-group">
                                    <label for="rePassword" class="text-muted">Repeat new password</label>
                                    <input type="password" class="form-control " id="rePassword"
                                        placeholder="Repeat new password" formControlName="rePassword"
                                        [ngClass]="{ 'is-invalid': passwordUpdateForm.get('rePassword').errors?.required && passwordUpdateForm.get('rePassword').touched }">
                                    <small id="rePassword" class="form-text text-danger pl-2"
                                        *ngIf="passwordUpdateForm.get('rePassword').errors?.required && passwordUpdateForm.get('rePassword').touched">
                                        This field is required.
                                    </small>
                                </div>
                            </div>

                            <div class="w-100 mt-4 mb-2 px-3 px-sm-5">
                                <button type="submit" class="btn btn-warning text-light w-100"
                                    [disabled]="!passwordUpdateForm.valid || submitted">
                                    <div class="spinner-border spinner-border-sm mb-1" role="status" *ngIf="submitted">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <i class="fas fa-check ml-3"></i>
                                    <span class="ml-2">SUBMIT</span>
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>