<div class="container-fluid px-0 px-sm-3 mt-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body row mx-0">
                <div class="font-22 pt-2 ml-2">
                    <span class="ml-3 text-danger text-uppercase"
                        *ngIf="uploadLoaded">{{upload.display_date| date: 'dd/MM/yyyy'}}</span>
                </div>
                <div class="ml-auto row mx-0">
                    <a [routerLink]="'/user/student-timetable/'+sessionId">
                        <button class="btn btn-danger">
                            <i class="fas fa-arrow-circle-left mr-2 font-12"></i>
                            <span class="ml-2 font-12">BACK</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center my-5 py-5" *ngIf="!videoLogLoaded">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="container-fluid px-0 px-sm-3 mt-4" *ngIf="videoLogLoaded">
    <div class="col-md-12">
        <div class="card" *ngIf="attendance==='leave' || attendance===false">
            <div class="text-center col-md-5 mx-auto my-5"
                *ngIf="fileRequest.video_request_status==='NA' || fileRequest===false">
                <p>You were absent or your request is not accepted. Please fill the form to request for viewing video.
                </p>
                <form class="m-4" [formGroup]="addRequestForm" (ngSubmit)="addRequest()" method="POST">
                    <div class="row my-5">
                        <div class="col-md-12 px-3 px-sm-5">
                            <div class="form-group">
                                <label for="requestReason" class="text-muted">Description <span
                                        class="text-danger font-weight-bold">*</span></label>

                                <textarea formControlName="requestReason" class="w-100"></textarea>
                                <small id="requestReason" class="form-text text-danger pl-2"
                                    *ngIf="addRequestForm.get('requestReason').errors?.required && addRequestForm.get('requestReason').touched">
                                    This field is required.
                                </small>
                            </div>
                        </div>

                        <div class="w-100 mt-4 mb-2 px-3 px-sm-5">
                            <button type="submit" class="btn btn-danger text-light w-100"
                                [disabled]="!addRequestForm.valid || submitted">
                                <div class="spinner-border spinner-border-sm mb-1" role="status" *ngIf="submitted">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <i class="fas fa-check ml-3"></i>
                                <span class="ml-2">REQUEST VIDEO</span>
                            </button>
                        </div>

                    </div>
                </form>
            </div>
            <div class="col-md-12 mt-4" *ngIf="fileRequest.video_request_status==='A'">
                <div class="my-5 text-center">
                    <p>Video request accepted.</p>
                    <a [routerLink]="fileRequest.video_request_id">
                        <button class="btn btn-danger">View Video</button>
                    </a>
                </div>
            </div>
            <div class="col-md-12 mt-4" *ngIf="fileRequest.video_request_status==='P'">
                <div class="my-5 text-center">
                    Video request already submitted.
                </div>
            </div>
        </div>

        <div class="card" *ngIf="attendance===true">
            <div *ngIf="videoLog['data1']['length']===0">
                <div class="text-center col-md-5 mx-auto my-5"
                    *ngIf="fileRequest.video_request_status==='NA' || fileRequest===false">
                    <p>You were absent or your request is not accepted. Please fill the form to request for viewing
                        video.
                    </p>
                    <form class="m-4" [formGroup]="addRequestForm" (ngSubmit)="addRequest()" method="POST">
                        <div class="row my-5">
                            <div class="col-md-12 px-3 px-sm-5">
                                <div class="form-group">
                                    <label for="requestReason" class="text-muted">Description <span
                                            class="text-danger font-weight-bold">*</span></label>

                                    <textarea formControlName="requestReason" class="w-100"></textarea>
                                    <small id="requestReason" class="form-text text-danger pl-2"
                                        *ngIf="addRequestForm.get('requestReason').errors?.required && addRequestForm.get('requestReason').touched">
                                        This field is required.
                                    </small>
                                </div>
                            </div>

                            <div class="w-100 mt-4 mb-2 px-3 px-sm-5">
                                <button type="submit" class="btn btn-danger text-light w-100"
                                    [disabled]="!addRequestForm.valid || submitted">
                                    <div class="spinner-border spinner-border-sm mb-1" role="status" *ngIf="submitted">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <i class="fas fa-check ml-3"></i>
                                    <span class="ml-2">REQUEST VIDEO</span>
                                </button>
                            </div>

                        </div>
                    </form>
                </div>

                <div class="col-md-12 mt-4" *ngIf="fileRequest.video_request_status==='A'">
                    <div class="my-5 text-center">
                        <p>Video request accepted.</p>
                        <a [routerLink]="fileRequest.video_request_id">
                            <button class="btn btn-danger">View Video</button>
                        </a>
                    </div>
                </div>
                <div class="col-md-12 mt-4" *ngIf="fileRequest.video_request_status==='P'">
                    <div class="my-5 text-center">
                        Video request already submitted.
                    </div>
                </div>
            </div>

            <div class="col-md-12 w-100 my-5" *ngIf="videoLog['data1']['length']!==0">

                <div class="row mx-4">
                    <div class="col-md-6">
                        <div class="w-100">
                            <div class="text-muted">
                                Number of views
                            </div>
                            <div class="font-18 mt-2">
                                {{videoLog['data1'][0].watched_count}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="w-100">
                            <div class="text-muted">
                                View Log
                            </div>
                            <div class="font-18 mt-2">
                                {{videoLog['data2'][0]['watched_time']| date:'medium'}}
                            </div>
                        </div>
                    </div>


                    <div class="col-md-5 mx-auto mt-4"
                        *ngIf="fileRequest.video_request_status==='NA' || fileRequest===false">
                        <hr>
                        <div class="text-center mt-5 mb-5">
                            <p>Please fill the form to request for viewing video again.</p>
                            <form class="m-4" [formGroup]="addRequestForm" (ngSubmit)="addRequest()" method="POST">
                                <div class="row my-5">
                                    <div class="col-md-12 px-3 px-sm-5">
                                        <div class="form-group">
                                            <label for="requestReason" class="text-muted">Description <span
                                                    class="text-danger font-weight-bold">*</span></label>

                                            <textarea formControlName="requestReason" class="w-100"></textarea>
                                            <small id="requestReason" class="form-text text-danger pl-2"
                                                *ngIf="addRequestForm.get('requestReason').errors?.required && addRequestForm.get('requestReason').touched">
                                                This field is required.
                                            </small>
                                        </div>
                                    </div>

                                    <div class="w-100 mt-4 mb-2 px-3 px-sm-5">
                                        <button type="submit" class="btn btn-danger text-light w-100"
                                            [disabled]="!addRequestForm.valid || submitted">
                                            <div class="spinner-border spinner-border-sm mb-1" role="status"
                                                *ngIf="submitted">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                            <i class="fas fa-check ml-3"></i>
                                            <span class="ml-2">REQUEST VIDEO</span>
                                        </button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-md-12 mt-4" *ngIf="fileRequest.video_request_status==='P'">
                        <hr>
                        <div class="my-5 text-center">
                            Video request already submitted.
                        </div>
                    </div>
                    <div class="col-md-12 mt-4" *ngIf="fileRequest.video_request_status==='A'">
                        <div class="my-5 text-center">
                            <p>Video request accepted.</p>
                            <a [routerLink]="fileRequest.video_request_id">
                                <button class="btn btn-danger">View Video</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>