<div class="d-flex justify-content-center my-5 py-5" *ngIf="!dataLoaded">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<ng-container *ngIf="dataLoaded ">
    <div class="container-fluid px-0 px-sm-3 mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body row mx-0">
                    <div class="font-22 pt-2 ml-2">
                        <i class="fas fa-calendar-alt text-purple mr-3"></i>
                        <span class="text-uppercase">TIMETABLE</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0 px-sm-3 row mx-0">
        <div class="col-md-12 mt-4" *ngFor="let day of days">
            <div class="text-uppercase font-18 bg-dark text-light py-3 pl-3">
                <div class="row">
                    <div class="col-11">
                        {{day.name}}
                    </div>
                    <div class="col-1">
                        <ng-container>
                            <button class="btn-transparent text-light border-0"
                                (click)="showCurrentTimeTable(day.dayNum)">
                                <i class="fas fa-chevron-down font-12" *ngIf="activeDay!=day.dayNum"></i>
                                <i class="fas fa-chevron-up font-12" *ngIf="activeDay==day.dayNum"></i>
                            </button>
                        </ng-container>

                    </div>
                </div>
            </div>
            <div class="row mt-4 mb-3" *ngIf="activeDay==day.dayNum">
                <ng-container *ngIf="day['periodDetails']['length']!==0">

                    <ng-container *ngFor="let period of day['periodDetails']; let index=index">
                        <div class="col-md-4 col-lg-3" *ngIf="period['display_day']===day.day;">
                            <div class="card mt-3">
                                <div class="card-header text-center text-uppercase font-weight-bold font-18">
                                    <div>
                                        Period {{period.session_id}}
                                    </div>
                                </div>
                                <div class="card-body font-16 text-center">
                                    <div class="font-18">{{period.subject_name}}</div>

                                    <div class="mt-2">{{period.staff_first_name}}</div>
                                    <div class="text-muted mt-2">
                                        {{period.start_time|convert24to12}} - {{period.end_time|convert24to12}}
                                    </div>
                                </div>

                                <a class="stretched-link" [routerLink]="period.timetable_section_id"></a>

                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="day['periodDetails']['length']===0">
                    <div class="col-md-12 text-center my-5 text-muted">
                        NO PERIODS FOUND
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</ng-container>