<div class="container-fluid mt-5 px-0 px-sm-3" *ngIf="currentRoute==='addClass' || dataLoaded">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body row mx-0">
                <div class="font-22 pt-2 ml-2">
                    <span class="text-uppercase">{{title}}</span>
                </div>
                <div class="ml-auto row mx-0">
                    <a [routerLink]="'/admin/classrooms'">
                        <button class="btn btn-danger">
                            <i class="fas fa-arrow-circle-left mr-2 font-12"></i>
                            <span class="ml-2 font-12">BACK</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-4 px-0 px-sm-3" *ngIf="currentRoute==='addClass'">
    <div class="col-md-12">
        <div class="card">
            <form class="m-4" [formGroup]="createClassForm" (ngSubmit)="addClass()" method="POST">
                <div class="row my-3">
                    <div class="col-md-12 px-3 px-sm-5">
                        <div class="form-group">
                            <label for="className">Institution Name <span
                                    class="text-danger font-weight-bold">*</span></label>
                            <input type="text" class="form-control " id="className"
                                placeholder="Enter institution name. eg: XII" formControlName="className"
                                [ngClass]="{ 'is-invalid': createClassForm.get('className').errors?.required && createClassForm.get('className').touched || createClassForm.controls['className'].hasError('maxlength') }">
                            <small id="className" class="form-text text-danger pl-2"
                                *ngIf="createClassForm.get('className').errors?.required && createClassForm.get('className').touched">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="col-md-12 px-3 px-sm-5">
                        <div class="form-group">
                            <label for="division">Division <span class="text-danger font-weight-bold">*</span></label>
                            <input type="text" class="form-control " id="division" placeholder="Enter division. eg: A"
                                formControlName="division"
                                [ngClass]="{ 'is-invalid': createClassForm.get('division').errors?.required && createClassForm.get('division').touched || createClassForm.controls['division'].hasError('maxlength') }">
                            <small id="division" class="form-text text-danger pl-2"
                                *ngIf="createClassForm.get('division').errors?.required && createClassForm.get('division').touched">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="col-md-12 px-3 px-sm-5">
                        <div class="form-group">
                            <label for="classDescription">Institution Description</label>
                            <input type="text" class="form-control " id="classDescription"
                                placeholder="Enter institution description" formControlName="classDescription"
                                [ngClass]="{ 'is-invalid': createClassForm.get('classDescription').errors?.required && createClassForm.get('classDescription').touched || createClassForm.controls['classDescription'].hasError('maxlength') }">
                            <small id="classDescription" class="form-text text-danger pl-2"
                                *ngIf="createClassForm.get('classDescription').errors?.required && createClassForm.get('classDescription').touched">
                                This field is required.
                            </small>
                        </div>
                    </div>

                    <div class="w-100 mt-4 mb-2 px-3 px-sm-5">
                        <button type="submit" class="btn btn-warning text-light w-100"
                            [disabled]="!createClassForm.valid || submitted">
                            <div class="spinner-border spinner-border-sm mb-1" role="status" *ngIf="submitted">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <i class="fas fa-check ml-3"></i>
                            <span class="ml-2">SUBMIT</span>
                        </button>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>

<div class="d-flex justify-content-center my-5 py-5" *ngIf="!dataLoaded && currentRoute!=='addClass'">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="container-fluid mt-4 px-0 px-sm-3" *ngIf="currentRoute!=='addClass' && dataLoaded">
    <div class="col-md-12 mt-4" *ngIf="currentRoute=='viewClass' && dataLoaded">
        <div class="row">
            <div class="col-md-6 col-lg-7 col-xl-5 col-12">
                <div class="card">
                    <div class="card-header text-uppercase">
                        Institution DETAILS
                    </div>
                    <div class="col-md-12 my-4">
                        <div class="row mx-0">
                            <div class="col-md-5 col-6">
                                Institution Name
                            </div>
                            <div class="col-md-1 col-1">
                                :
                            </div>
                            <div class="col-md-6 col-4">
                                {{classRoom.class_name}}
                            </div>
                        </div>
                        <div class="row mx-0 mt-3" *ngIf="classRoom.class_description">
                            <div class="col-md-5 col-6">
                                Institution Description
                            </div>
                            <div class="col-md-1 col-1">
                                :
                            </div>
                            <div class="col-md-6 col-4">
                                {{classRoom.class_description}}
                            </div>
                        </div>
                        <div class="row mx-0 mt-3" *ngIf="classRoom.student_type">
                            <div class="col-md-5 col-6">
                                Student Type
                            </div>
                            <div class="col-md-1 col-1">
                                :
                            </div>
                            <div class="col-md-6 col-4">
                                <span *ngIf="classRoom.student_type==='T'">Temporary</span>
                                <span *ngIf="classRoom.student_type==='P'">Permanent</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-7 col-12">
                <div class="card">

                    <mat-tab-group>
                        <mat-tab label="SUBJECTS">
                            <div class="d-flex justify-content-center my-5 py-5" *ngIf="!subjectLoaded">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <div *ngIf="subjectLoaded && subjects.length===0" class="my-5">
                                <div class="text-center font-16  text-muted">
                                    NO SUBJECTS FOUND
                                </div>

                            </div>
                            <div *ngIf="subjectLoaded && subjects.length!==0" class="my-5">
                                <table class="table table-borderless table-striped">
                                    <thead>
                                        <tr class="text-uppercase">
                                            <th>Sl.no</th>
                                            <th>Subject Name</th>
                                            <th>Subject Description</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let subject of subjects;let index=index">
                                            <td class="pl-3">{{index+1}}</td>
                                            <td class="pl-3">{{subject.subject_name}}</td>
                                            <td class="pl-3">{{subject.subject_description}}</td>
                                            <td>
                                                <button class="btn btn-success font-10 cursor-context-menu"
                                                    *ngIf="subject.subject_active">
                                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                    <span class="ml-1 font-8">ACTIVE</span>
                                                </button>
                                                <button class="btn btn-danger font-10 cursor-context-menu"
                                                    *ngIf="!subject.subject_active">
                                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                    <span class="ml-1 font-8">INACTIVE</span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </mat-tab>
                        <mat-tab label="STAFFS" class="w-100">
                            <div class="d-flex justify-content-center my-5 py-5" *ngIf="!staffsLoaded">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <div *ngIf="staffsLoaded && staffs.length===0" class="my-5">
                                <div class="text-center font-16  text-muted">
                                    NO STAFFS FOUND
                                </div>
                            </div>


                            <div *ngIf="staffsLoaded && staffs.length!==0" class="my-5">
                                <table class="table table-borderless table-striped">
                                    <thead>
                                        <tr class="text-uppercase">
                                            <th>Sl.no</th>
                                            <th>Staff name</th>
                                            <th>Subject</th>
                                            <th>Staff Type</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let staff of staffs;let index=index">
                                            <td>{{index+1}}</td>
                                            <td>{{staff.staff_first_name}}</td>
                                            <td>{{staff['assign_staff'][0]['subject_name']}}</td>
                                            <td>{{staff['type_of_staff']|staffType}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12 mt-4" *ngIf="currentRoute=='editClass' && dataLoaded">
        <div class="row">
            <div class="col-md-5 col-lg-5 col-xl-4 col-12">
                <div class="card">
                    <div class="card-header text-uppercase">
                        EDIT Institution DETAILS
                    </div>
                    <form class="m-4" [formGroup]="editClassForm" (ngSubmit)="editClass()" method="PATCH">
                        <div class="row my-3">
                            <div class="col-md-12 px-3 px-sm-5">
                                <div class="form-group">
                                    <label for="className">Institution Name <span
                                            class="text-danger font-weight-bold">*</span></label>
                                    <input type="text" class="form-control " id="className"
                                        placeholder="Enter institution name" formControlName="className"
                                        [ngClass]="{ 'is-invalid': editClassForm.get('className').errors?.required && editClassForm.get('className').touched || editClassForm.controls['className'].hasError('maxlength') }">
                                    <small id="className" class="form-text text-danger pl-2"
                                        *ngIf="editClassForm.get('className').errors?.required && editClassForm.get('className').touched">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-12 px-3 px-sm-5">
                                <div class="form-group">
                                    <label for="division">Division <span
                                            class="text-danger font-weight-bold">*</span></label>
                                    <input type="text" class="form-control " id="division"
                                        placeholder="Enter division. eg: A" formControlName="division"
                                        [ngClass]="{ 'is-invalid': editClassForm.get('division').errors?.required && editClassForm.get('division').touched || editClassForm.controls['division'].hasError('maxlength') }">
                                    <small id="division" class="form-text text-danger pl-2"
                                        *ngIf="editClassForm.get('division').errors?.required && editClassForm.get('division').touched">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-12 px-3 px-sm-5">
                                <div class="form-group">
                                    <label for="classDescription">Institution Description</label>
                                    <input type="text" class="form-control " id="classDescription"
                                        placeholder="Enter institution description" formControlName="classDescription"
                                        [ngClass]="{ 'is-invalid': editClassForm.get('classDescription').errors?.required && editClassForm.get('classDescription').touched || editClassForm.controls['classDescription'].hasError('maxlength') }">
                                    <small id="classDescription" class="form-text text-danger pl-2"
                                        *ngIf="editClassForm.get('classDescription').errors?.required && editClassForm.get('classDescription').touched">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-12 px-3 px-sm-5">
                                <div class="form-group">
                                    <label for="subjectDescription">Status</label>

                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="classStatus"
                                            formControlName="classStatus" name="example">
                                        <label class="custom-control-label" for="classStatus">
                                            <ng-container *ngIf="editClassForm.get('classStatus').value===true">
                                                Active
                                            </ng-container>
                                            <ng-container *ngIf="editClassForm.get('classStatus').value===false">
                                                Inactive
                                            </ng-container>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 px-5 mt-2">
                                <div class="form-group">
                                    <label for="studentType">Select student type<span
                                            class="text-danger font-weight-bold">*</span></label>
                                    <select class="form-control rounded-pill" id="studentType"
                                        style="padding: 0px 0px 0px 15px !important;" formControlName="studentType"
                                        [ngClass]="{ 'is-invalid': editClassForm.get('studentType').errors?.required && editClassForm.get('studentType').touched }">
                                        <option value="" disabled selected>Select your option</option>
                                        <option value="T">Temporary</option>
                                        <option value="P">Permanent</option>

                                    </select>
                                    <small id="studentType" class="form-text text-danger pl-2"
                                        *ngIf="editClassForm.get('studentType').errors?.required && editClassForm.get('studentType').touched">
                                        This field is required.
                                    </small>
                                </div>
                            </div>

                            <div class="w-100 mt-4 mb-2 px-3 px-sm-5">
                                <button type="submit" class="btn btn-warning text-light w-100"
                                    [disabled]="!editClassForm.valid || submitted">
                                    <div class="spinner-border spinner-border-sm mb-1" role="status" *ngIf="submitted">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <i class="fas fa-check ml-3"></i>
                                    <span class="ml-2">SUBMIT</span>
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-7 col-lg-7 col-xl-8 col-12">
                <div class="card">
                    <mat-tab-group>
                        <mat-tab label="SUBJECTS">
                            <div class="d-flex justify-content-center my-5 py-5" *ngIf="!subjectLoaded">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <div *ngIf="subjectLoaded && subjects.length===0" class="my-5">
                                <div class="text-center font-16  text-muted">
                                    NO SUBJECTS FOUND
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-warning col-md-3 text-light mt-3"
                                        (click)="openSubjectModal(subjectAdd,'addSubject','')">
                                        <i _ngcontent-fek-c150="" class="fas fa-plus font-12"></i>
                                        <span class="ml-2 font-14">ADD SUBJECT</span>
                                    </button>
                                </div>
                            </div>
                            <div *ngIf="subjectLoaded && subjects.length!==0" class="my-5">
                                <table class="table table-borderless table-striped">
                                    <thead>
                                        <tr class="text-uppercase">
                                            <th>Sl.no</th>
                                            <th>Subject Name</th>
                                            <th>Subject Description</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let subject of subjects;let index=index">
                                            <td class="pl-3">{{index+1}}</td>
                                            <td class="pl-3">{{subject.subject_name}}</td>
                                            <td class="pl-3">{{subject.subject_description}}</td>
                                            <td>
                                                <button class="btn btn-success font-10 cursor-context-menu"
                                                    *ngIf="subject.subject_active">
                                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                    <span class="ml-1 font-8">ACTIVE</span>
                                                </button>
                                                <button class="btn btn-danger font-10 cursor-context-menu"
                                                    *ngIf="!subject.subject_active">
                                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                    <span class="ml-1 font-8">INACTIVE</span>
                                                </button>
                                            </td>
                                            <td>

                                                <button class="btn btn-warning text-light mt-n1"
                                                    (click)="openSubjectModal(subjectEdit,'editSubject',subject.subject_id)">
                                                    <i class="fas fa-pencil-alt font-12"></i>
                                                </button>

                                                <button class="btn btn-danger ml-2 mt-n1"
                                                    (click)="openSubjectModal(subjectDelete,'deleteSubject',subject.subject_id)">
                                                    <i class="fas fa-trash-alt font-12"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="text-center">
                                    <button class="btn btn-warning col-md-3 text-light mt-3"
                                        (click)="openSubjectModal(subjectAdd,'addSubject','')">
                                        <i _ngcontent-fek-c150="" class="fas fa-plus font-12"></i>
                                        <span class="ml-2 font-14">ADD SUBJECT</span>
                                    </button>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="STAFFS" class="w-100" [disabled]='subjects.length===0'>
                            <div class="d-flex justify-content-center my-5 py-5" *ngIf="!staffsLoaded">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <div *ngIf="staffsLoaded && staffs.length===0" class="my-5">
                                <div class="text-center font-16  text-muted">
                                    NO STAFFS FOUND
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-warning col-md-3 text-light mt-3"
                                        (click)="openStaffModal(staffAdd,'addStaff','')">
                                        <i _ngcontent-fek-c150="" class="fas fa-plus font-12"></i>
                                        <span class="ml-2 font-14">ASSIGN STAFF</span>
                                    </button>
                                </div>
                            </div>


                            <div *ngIf="staffsLoaded && staffs.length!==0" class="my-5">
                                <table class="table table-borderless table-striped">
                                    <thead>
                                        <tr class="text-uppercase">
                                            <th>Sl.no</th>
                                            <th>Staff name</th>
                                            <th>Subject</th>
                                            <th>Staff Type</th>
                                            <th>Operations</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let staff of staffs;let index=index">
                                            <td>{{index+1}}</td>
                                            <td>{{staff.staff_first_name}}</td>
                                            <td>{{staff['assign_staff'][0]['subject_name']}}</td>
                                            <td>{{staff['type_of_staff']|staffType}}</td>
                                            <td>

                                                <button class="btn btn-warning text-light ml-2 mt-n1"
                                                    (click)="openStaffModal(staffEdit,'editStaff',staff.assign_id)">
                                                    <i class="fas fa-pencil-alt font-12"></i>
                                                </button>

                                                <button class="btn btn-danger ml-2 mt-n1"
                                                    (click)="openStaffModal(staffDelete, 'deleteStaff', staff.assign_id)">
                                                    <i class="fas fa-trash-alt font-12"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                                <div class="text-center">
                                    <button class="btn btn-warning col-md-3 text-light mt-3"
                                        (click)="openStaffModal(staffAdd,'addStaff','')">
                                        <i _ngcontent-fek-c150="" class="fas fa-plus font-12"></i>
                                        <span class="ml-2 font-14">ASSIGN STAFF</span>
                                    </button>
                                </div>
                            </div>

                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #subjectAdd>
    <div class="modal-header">
        <span class="ml-3 font-20">ADD SUBJECT</span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row justify-content-center mt-2  mb-4">
            <div class="col-md-12">
                <form class="m-4" [formGroup]="addSubjectForm" (ngSubmit)="addSubject()" method="POST">
                    <div class="row my-3">

                        <div class="col-md-12 px-3 px-sm-5">
                            <div class="form-group">
                                <label for="subjectName" class="text-muted">Subject Name <span
                                        class="text-danger font-weight-bold">*</span></label>
                                <input type="text" class="form-control " id="subjectName"
                                    placeholder="Enter subject name" formControlName="subjectName"
                                    [ngClass]="{ 'is-invalid': addSubjectForm.get('subjectName').errors?.required && addSubjectForm.get('subjectName').touched || addSubjectForm.controls['subjectName'].hasError('maxlength') }">
                                <small id="subjectName" class="form-text text-danger pl-2"
                                    *ngIf="addSubjectForm.get('subjectName').errors?.required && addSubjectForm.get('subjectName').touched">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="col-md-12 px-3 px-sm-5">
                            <div class="form-group">
                                <label for="subjectDescription" class="text-muted">Subject Description <span
                                        class="text-danger font-weight-bold">*</span></label>
                                <input type="text" class="form-control " id="subjectDescription"
                                    placeholder="Enter subject description" formControlName="subjectDescription"
                                    [ngClass]="{ 'is-invalid': addSubjectForm.get('subjectDescription').errors?.required && addSubjectForm.get('subjectDescription').touched || addSubjectForm.controls['subjectDescription'].hasError('maxlength') }">
                                <small id="subjectDescription" class="form-text text-danger pl-2"
                                    *ngIf="addSubjectForm.get('subjectDescription').errors?.required && addSubjectForm.get('subjectDescription').touched">
                                    This field is required.
                                </small>
                            </div>
                        </div>

                        <div class="w-100 mt-4 mb-2 px-3 px-sm-5">
                            <button type="submit" class="btn btn-warning text-light  w-100"
                                [disabled]="!addSubjectForm.valid || submittedModal">
                                <div class="spinner-border spinner-border-sm mb-1" role="status" *ngIf="submittedModal">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <i class="fas fa-check ml-3"></i>
                                <span class="ml-2">SUBMIT</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #subjectEdit>
    <div class="modal-header">
        <span class="ml-3 font-20">EDIT SUBJECT</span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="d-flex justify-content-center my-5 py-5" *ngIf="!subjectDetailLoaded">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="row justify-content-center mt-2 mb-4" *ngIf="subjectDetailLoaded">
            <div class="col-md-12">
                <form class="m-4" [formGroup]="editSubjectForm" (ngSubmit)="editSubject()" method="POST">
                    <div class="row my-3">
                        <div class="col-md-12 px-3 px-sm-5">
                            <div class="form-group">
                                <label for="subjectName" class="text-muted">Subject Name <span
                                        class="text-danger font-weight-bold">*</span></label>
                                <input type="text" class="form-control " id="subjectName"
                                    placeholder="Enter subject name" formControlName="subjectName"
                                    [ngClass]="{ 'is-invalid': editSubjectForm.get('subjectName').errors?.required && editSubjectForm.get('subjectName').touched || editSubjectForm.controls['subjectName'].hasError('maxlength') }">
                                <small id="subjectName" class="form-text text-danger pl-2"
                                    *ngIf="editSubjectForm.get('subjectName').errors?.required && editSubjectForm.get('subjectName').touched">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="col-md-12 px-3 px-sm-5">
                            <div class="form-group">
                                <label for="subjectDescription" class="text-muted">Subject Description <span
                                        class="text-danger font-weight-bold">*</span></label>
                                <input type="text" class="form-control " id="subjectDescription"
                                    placeholder="Enter subject description" formControlName="subjectDescription"
                                    [ngClass]="{ 'is-invalid': editSubjectForm.get('subjectDescription').errors?.required && editSubjectForm.get('subjectDescription').touched || editSubjectForm.controls['subjectDescription'].hasError('maxlength') }">
                                <small id="subjectDescription" class="form-text text-danger pl-2"
                                    *ngIf="editSubjectForm.get('subjectDescription').errors?.required && editSubjectForm.get('subjectDescription').touched">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="col-md-12 px-3 px-sm-5">
                            <div class="form-group">
                                <label for="subjectDescription" class="text-muted">Status <span
                                        class="text-danger font-weight-bold">*</span></label>

                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="switch1"
                                        formControlName="status" name="example">
                                    <label class="custom-control-label" for="switch1">
                                        <ng-container *ngIf="editSubjectForm.get('status').value===true">
                                            Active
                                        </ng-container>
                                        <ng-container *ngIf="editSubjectForm.get('status').value===false">
                                            Inactive
                                        </ng-container>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="w-100 mt-4 mb-2 px-3 px-sm-5">
                            <button type="submit" class="btn btn-warning text-light  w-100"
                                [disabled]="!editSubjectForm.valid || submittedModal">
                                <div class="spinner-border spinner-border-sm mb-1" role="status" *ngIf="submittedModal">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <i class="fas fa-check ml-3"></i>
                                <span class="ml-2">SUBMIT</span>
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #subjectDelete>
    <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center font-20 font-weight-bold">
        <p>Are you sure you want to delete subject?</p>
        <div class="row justify-content-center my-5">
            <div class="col-md-4">
                <button class="btn btn-success w-100" [disabled]="submittedModal" (click)="deleteSubject()">
                    <div class="spinner-border spinner-border-sm mb-1" role="status" *ngIf="submittedModal">
                        <span class="sr-only">Loading...</span>
                    </div>
                    Yes
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-danger w-100" (click)="modalRef.hide()">
                    No
                </button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #staffAdd>
    <div class="modal-header">
        <span class="ml-3 font-20">ASSIGN STAFF</span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row justify-content-center mt-2  mb-4">
            <div class="col-md-12">
                <form class="m-3" [formGroup]="staffAddForm" (ngSubmit)="addStaff()" method="POST">
                    <div class="col-md-12 px-5">
                        <div class="form-group">
                            <label for="sel1">Select staff <span class="text-danger font-weight-bold">*</span></label>
                            <select class="form-control rounded-pill" style="padding: 0px 0px 0px 15px !important;"
                                style="padding: 0px 0px 0px 15px !important;" id="sel1" formControlName="staffId"
                                [ngClass]="{ 'is-invalid': staffAddForm.get('staffId').errors?.required && staffAddForm.get('staffId').touched }"
                                (change)="staffSelected(staffAddForm.get('staffId').value)">
                                <option value="" disabled selected>Select your option</option>
                                <ng-container *ngFor="let staff of allStaffs">
                                    <option value="{{staff['staff_id']}}">
                                        {{staff['first_name']}} <span
                                            *ngIf="staff['middle_name']">{{staff['middle_name']}}</span>
                                    </option>
                                </ng-container>
                            </select>
                            <small id=" sel1" class="form-text text-danger pl-2"
                                *ngIf="staffAddForm.get('staffId').errors?.required && staffAddForm.get('staffId').touched">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="col-md-12 px-5 mt-2 text-center text-danger py-4"
                        *ngIf="classSubjectsLoaded && classSubjects && classSubjects.length ===0 ">
                        ** NO SUBJECTS AVAILABLE / ALL SUBJECTS ASSIGNED
                    </div>

                    <ng-container *ngIf="classSubjects && classSubjects.length !==0">

                        <div class="col-md-12 px-5 mt-2">
                            <div class=" form-group">
                                <label for="subject">Select subject <span
                                        class="text-danger font-weight-bold">*</span></label>
                                <div *ngFor="let subject of classSubjects">
                                    <input type="checkbox" [value]="subject.subject_id"
                                        (change)="onCheckboxChange($event)">
                                    {{subject['subject_name']}}
                                </div>
                                <small id=" subject" class="form-text text-danger pl-2"
                                    *ngIf="staffAddForm.get('subjectId').errors?.required && staffAddForm.get('subjectId').touched">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="col-md-12 px-5 mt-2" *ngIf="mainStaff && mainStaff.length!==0">
                            <div class="form-group">
                                <label for="staffType">Select staff type<span
                                        class="text-danger font-weight-bold">*</span></label>
                                <select class="form-control rounded-pill" id="staffType"
                                    style="padding: 0px 0px 0px 15px !important;" formControlName="staffType"
                                    [ngClass]="{ 'is-invalid': staffAddForm.get('staffType').errors?.required && staffAddForm.get('staffType').touched }">
                                    <option value="" disabled selected>Select your option</option>
                                    <option value="M" *ngIf="!mainStaff.main">Class in-charge</option>
                                    <option value="NM">Teacher</option>

                                </select>
                                <small id="staffType" class="form-text text-danger pl-2"
                                    *ngIf="staffAddForm.get('staffType').errors?.required && staffAddForm.get('staffType').touched">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </ng-container>
                    <div class="w-100 mt-5 mb-2 px-3 px-sm-5">
                        <button type="submit" class="btn btn-warning text-light w-100"
                            [disabled]="!staffAddForm.valid || submittedModal">
                            <div class="spinner-border spinner-border-sm mb-1" role="status" *ngIf="submittedModal">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <i class="fas fa-check ml-3"></i>
                            <span class="ml-2">SUBMIT</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #staffEdit>
    <div class="modal-header">
        <span class="ml-3 font-20">EDIT STAFF</span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="d-flex justify-content-center my-5 py-5" *ngIf="!staffDetailLoaded">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="col-md-12" *ngIf="staffDetailLoaded">
            <div class="col-md-12 my-4">
                <div class="row mx-0">
                    <div class="col-md-5 col-6">
                        Staff Name
                    </div>
                    <div class="col-md-1 col-1">
                        :
                    </div>
                    <div class="col-md-6 col-4">
                        {{staffDetail.staff_first_name}}
                    </div>
                </div>
                <div class="row mx-0 mt-3">
                    <div class="col-md-5 col-6">
                        Staff Subject
                    </div>
                    <div class="col-md-1 col-1">
                        :
                    </div>
                    <div class="col-md-6 col-4">
                        <div *ngFor="let subject of staffDetail['assign_staff']">
                            {{subject['subject_name']}}
                            <button class="btn btn-rounded-pill btn-danger rounded-circle mt-n1 br-25 p-0 font-10 px-1"
                                (click)="deleteSingleSubject(subject['assign_subject_id'],staffDetail.assign_id)"
                                *ngIf="staffDetail['assign_staff']['length']>1">
                                X
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row mx-0 mt-3">
                    <div class="col-md-5 col-6">
                        Staff type
                    </div>
                    <div class="col-md-1 col-1">
                        :
                    </div>
                    <div class="col-md-6 col-4">
                        {{staffDetail['type_of_staff']|staffType}}
                    </div>
                </div>

            </div>
        </div>

        <ng-container *ngIf="classSubjects && classSubjects.length !==0">
            <hr>
            <div class="text-center">ADD SUBJECT</div>
            <form class="m-2" [formGroup]="staffEditForm" (ngSubmit)="editStaff()" method="POST">
                <div class="col-md-12 px-5 mt-2" *ngIf="classSubjects && classSubjects.length !==0">
                    <div class=" form-group mt-4">
                        <label for="subject">Select subject <span class="text-danger font-weight-bold">*</span></label>
                        <div *ngFor="let subject of classSubjects">
                            <input type="checkbox" [value]="subject.subject_id" (change)="onCheckboxChangeEdit($event)">
                            {{subject['subject_name']}}
                        </div>
                        <small id=" subject" class="form-text text-danger pl-2"
                            *ngIf="staffEditForm.get('subjectId').errors?.required && staffEditForm.get('subjectId').touched">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="w-100 mt-5 mb-2 px-3 px-sm-5">
                    <button type="submit" class="btn btn-warning text-light w-100"
                        [disabled]="!staffEditForm.valid || submittedModal">
                        <div class="spinner-border spinner-border-sm mb-1" role="status" *ngIf="submittedModal">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <i class="fas fa-check ml-3"></i>
                        <span class="ml-2">SUBMIT</span>
                    </button>
                </div>
            </form>
        </ng-container>
    </div>
</ng-template>

<ng-template #staffDelete>
    <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center font-20 font-weight-bold">
        <p>Are you sure you want to delete?</p>
        <div class="row justify-content-center my-5">
            <div class="col-md-4">
                <button class="btn btn-success w-100 " [disabled]="submittedModal" (click)="deleteStaff()">
                    <div class="spinner-border spinner-border-sm mb-1" role="status" *ngIf="submittedModal">
                        <span class="sr-only">Loading...</span>
                    </div>
                    Yes
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-danger w-100 " (click)="modalRef.hide()">
                    No
                </button>
            </div>
        </div>
    </div>
</ng-template>