<div class="container-fluid mt-5 px-0 px-sm-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body row mx-0">
                <div class="font-22 pt-2 ml-2">
                    <i class="fas fa-cog text-purple mr-3"></i>
                    <span>SETTINGS</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center my-5 py-5" *ngIf="!userLoaded">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="container-fluid mt-3 px-0 px-sm-3" *ngIf="userLoaded">
    <div class="row" *ngIf="user.user_type=='ST'">
        <div class="col-md-12 col-lg-12">
            <div class="card m-3">
                <div class="card-header text-uppercase">
                    Personal Details
                </div>
                <div class="card-body">
                    <div class="row mx-0" *ngIf="user['student_details'][0]['first_name']">
                        <div class="col-md-5 col-6">
                            First Name
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['student_details'][0]['first_name']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['student_details'][0]['middle_name']">
                        <div class="col-md-5 col-6">
                            Middle Name
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['student_details'][0]['middle_name']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['student_details'][0]['last_name']">
                        <div class="col-md-5 col-6">
                            Last Name
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['student_details'][0]['last_name']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['student_details'][0]['email']">
                        <div class="col-md-5 col-6">
                            Email
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['student_details'][0]['email']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['student_details'][0]['phone_1']">
                        <div class="col-md-5 col-6">
                            Phone
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['student_details'][0]['phone_1']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['student_details'][0]['phone_2']">
                        <div class="col-md-5 col-6">
                            Additional phone
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['student_details'][0]['phone_2']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['student_details'][0]['dob']">
                        <div class="col-md-5 col-6">
                            Date of birth
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['student_details'][0]['dob']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['student_details'][0]['doj']">
                        <div class="col-md-5 col-6">
                            Date of joining
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['student_details'][0]['doj']}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-12 col-lg-6">
            <div class="card m-3">
                <div class="card-header text-uppercase">
                    Address Details
                </div>
                <div class="card-body">
                    <div class="row mx-0" *ngIf="user['student_details'][0]['street_1']">
                        <div class="col-md-5 col-6">
                            Address
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['student_details'][0]['street_1']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['student_details'][0]['street_2']">
                        <div class="col-md-5 col-6">
                            Landmark
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['student_details'][0]['street_2']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['student_details'][0]['city']">
                        <div class="col-md-5 col-6">
                            City
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['student_details'][0]['city']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['student_details'][0]['state']">
                        <div class="col-md-5 col-6">
                            State
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['student_details'][0]['state']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['student_details'][0]['country']">
                        <div class="col-md-5 col-6">
                            Country
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['student_details'][0]['country']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['student_details'][0]['pincode']">
                        <div class="col-md-5 col-6">
                            Pincode
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['student_details'][0]['pincode']}}
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <!-- <div class="row" *ngIf="user.user_type=='P'">
        <div class="col-md-12 col-lg-6">
            <div class="card m-3">
                <div class="card-header text-uppercase">
                    Personal Details
                </div>
                <div class="card-body">
                    <div class="row mx-0" *ngIf="user['parent_details'][0]['first_name']">
                        <div class="col-md-5 col-6">
                            First Name
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['parent_details'][0]['first_name']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['parent_details'][0]['middle_name']">
                        <div class="col-md-5 col-6">
                            Middle Name
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['parent_details'][0]['middle_name']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['parent_details'][0]['last_name']">
                        <div class="col-md-5 col-6">
                            Last Name
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['parent_details'][0]['last_name']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['parent_details'][0]['email']">
                        <div class="col-md-5 col-6">
                            Email
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['parent_details'][0]['email']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['parent_details'][0]['phone_1']">
                        <div class="col-md-5 col-6">
                            Phone
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['parent_details'][0]['phone_1']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['parent_details'][0]['phone_2']">
                        <div class="col-md-5 col-6">
                            Additional phone
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['parent_details'][0]['phone_2']}}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="card m-3">
                <div class="card-header text-uppercase">
                    Address Details
                </div>
                <div class="card-body">
                    <div class="row mx-0" *ngIf="user['parent_details'][0]['street_1']">
                        <div class="col-md-5 col-6">
                            Address
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['parent_details'][0]['street_1']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['parent_details'][0]['street_2']">
                        <div class="col-md-5 col-6">
                            Landmark
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['parent_details'][0]['street_2']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['parent_details'][0]['city']">
                        <div class="col-md-5 col-6">
                            City
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['parent_details'][0]['city']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['parent_details'][0]['state']">
                        <div class="col-md-5 col-6">
                            State
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['parent_details'][0]['state']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['parent_details'][0]['country']">
                        <div class="col-md-5 col-6">
                            Country
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['parent_details'][0]['country']}}
                        </div>
                    </div>
                    <div class="row mx-0 mt-3" *ngIf="user['parent_details'][0]['pincode']">
                        <div class="col-md-5 col-6">
                            Pincode
                        </div>
                        <div class="col-md-1 col-1">
                            :
                        </div>
                        <div class="col-md-6 col-4">
                            {{user['parent_details'][0]['pincode']}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>